				<div class="card" style="margin: auto;">
					<div class="card-header">
						<h3 class="panel-title">Aw, Snap!</h3>
					</div>
					<div class="card-body text-center">
						<img src="{$appPath}/resources/error.jpg" /><br />
						<div style="font-size: 20px;">
						<p class="text-center">
						Something went wrong while displaying this webpage. To continue,
						try reloading or go to another page.
						</p>
						<p class="text-center">We apologize for the inconvenience.</p> 
						</div>
						{if $env == 'dev' || !empty($smarty.get.proddebug)}
						<div style="text-align: left; border: 1px solid #dadada; border-radius: 5px; padding: 10px;">
						<strong>{$f3error.status} ({$f3error.code})</strong> 
						
						<p>{$f3error.text}</p>
						
						<strong>Stack Trace:</strong><br />
						{$f3error.trace}
						</div>
						{/if}
					</div>
				</div>