<div class="main-container">
    <div class="container clearfix">
        <br /><br />
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                    <div class="text-justify">
                        <div style="font-size: 20px;"
<p>
To Our Users,
</p>
<p>
Our first round of testing has officially ended.  We sincerely thank all that participated in this beta.  The suggestions, bug reports and general feedback provided will be invaluable as we chart our path forward.
</p>
<p>
We recognize our partner's time is extremely valuable and especially thank them for all the advice and support they provided during this beta.  Our success is a direct result of those relationships.
</p>
<p>
In the coming months, we are going to determine our next step as we compile and analyze the information we have collected.
</p>
<p>
Stay tuned for future announcements.
</p>
<p>
Sincerely,<br />
The PhotoFind.Me Team
</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>