<section class="content-header">
	<h3>
		<i class="fa fa-archive fa-fw"></i> Audit Log
	</h3>
</section>

<section class="content">

				{include file='admin/messages.html'}

				<div class="dataTable_wrapper">
					<table class="table table-striped table-bordered table-hover datatable" id="audit-table">
						<thead>
						<tr>
							<th>Date/Time</th>
							<th>Username</th>
							<th>IP</th>
							<th>Details</th>
						</tr>
						</thead>
						<tbody>
						{foreach $audit as $record}
							<tr class="odd gradeX">
								<td>{$record.eventTime|date_format:"%A, %B %e, %Y %l:%M:%S %p"}</td>
								<td>{$record.username}</td>
								<td>{$record.ip}</td>
								<td>{$record.info}</td>
							</tr>
						{/foreach}
						</tbody>
					</table>
				</div>
				<!-- /.table-responsive -->
</section>