<section class="content-header">
	<h1>
		<i class="fa fa-tachometer fa-fw"></i>Dashboard
	</h1>
</section>


<section class="content">
				{include file='admin/messages.html'}
				<div id="admin-dashboard">
					TBD
				</div>

				<!-- /.table-responsive -->
</section>