<section class="content-header">
	<h3>
		<i class="fa fa-question-circle"></i> {$quest.name}
	</h3>
</section>

<section class="content">
    <p>
        <a href="{$appPath}/admin-guess" class="btn btn-secondary">Return To Guesses</a>
    </p>

	<div class="row">
        <div class="col-lg-6">
            <div class="row">

                {foreach $quest.photos.questphoto as $photo}
                <div class="col">
                    <h2>Photo {$photo@index+1}</h2>
                    <div class="card">
                        <img src="{$appPath}/data{$photo.fileLocationWeb}" class="img-fluid">
                        <div class="card-body text-center rounded-bottom">
                            {if !empty($quest.guesses[$photo.Id])}
                            <h3> New Guesses <span class="badge badge-primary">{$quest.guesses[$photo.Id]}</span> </h3>
                            {else}
                            <p>No new guesses.</p>
                            {/if}
                            <a href="{$appPath}/admin-guess/review/{$photo.Id}" class="btn btn-primary">Review</a>
                        </div>
                    </div>
                </div>
                {/foreach}

            </div>
        </div>
        <div class="col-lg-6" id="leaderboardContainer">
            {include file="admin/guesses.quest.photos.leaderboard.html"}
        </div>
    </div>
</section>

<script>
{literal}
$(document).ready(function() {
});
{/literal}
</script> 
