<section class="content-header">
		<h3>
			<i class="fa fa-question-circle"></i> Guess Details
		</h3>
</section>

<section class="content">
				{include file='admin/messages.html'}
				
				<form role="form" action="{$appPath}/admin/guess/update" method="POST" enctype="multipart/form-data">
					<input type="hidden" name="guess[id]" value="{$guess.id|default:0}" />
					
						<div class="form-group">
							<label for="guess-photo">Guess</label>
							<img class="img-responsive" style="max-height: 50px;" src="{$appPath}/data{$guess.photo}">
						</div>
						
						<div class="form-group">
							<label for="guess-photoId">Photo</label>
							<img class="img-responsive" style="max-height: 200px;" src="/app/public/images/sample1.JPG">
						</div>
				
					<div class="form-group">
						<label for="guess-name">Name</label>
						<p>{$guess.name}</p>
					</div>
					{if !empty($guess.id)}
					<div class="form-group">
						<label for="date-uploaded">Date Uploaded</label>
						<p>{$guess.dateUploaded|date_format:"%b %d, %Y"}</p>
					</div>
					{/if}
					<div class="form-group">
						<label for="guess-user">Username</label>
						<p>{$guess.username}</p>
					</div>
					<div class="form-group">
						<label for="guess-email">Email</label>
						<textarea id="guess-email" name="guess[email]" class="form-control">{$guess.email}</textarea>
					</div>
                    <div class="form-group">
                        <label for="sponsor-active">Status</label>
                        <select id="sponsor-active" name="sponsor[active]" class="form-control">
                            <option value="0" {if $sponsor.active == 0}selected{/if}>Inactive</option>
                            <option value="1" {if $sponsor.active == 1}selected{/if}>Active</option>
                        </select>
                    </div>
                    
					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary">
							Save Guess
						</button>
						<a href="{$appPath}/admin/guesses" class="btn btn-default" formnovalidate="formnovalidate" >
							Cancel/Return
						</a>
					</div>
				</form>				

</section>

<script>

</script>