<section class="content-header">
	<h3>
		<i class="fa fa-question-circle"></i> Guesses
	</h3>
</section>

<section class="content">
	<div class="row">
        {foreach $questList as $quest}
		<div class="col">
			<div class="card">
                <div style="position: relative;">
                    <div style="position: absolute; left: 10px; top: 8px; ">
                    {if $quest.status == 'live'}
                        <h1><span class="badge badge-success">Live!</span></h1>
                    {elseif $quest.status == 'preview'}
                        <h1><span class="badge badge-danger">Preview</span></h1>
                    {else}
                        <h1><span class="badge badge-secondary">Closed</span></h1>
                    {/if}
                    </div>
				    <img class="card-img-top" src="{$appPath}/data{$quest.photos.questphoto.0.fileLocationWeb}">
                </div>
				<div class="card-body">
                    {if !empty($quest.guesses.totalNewGuesses)}
					<div class="alert alert-success" role="alert">
						<i class="fa fa-bell" aria-hidden="true"></i> {$quest.guesses.totalNewGuesses} New Guesses!
					</div>
                    {else}
					<div class="alert alert-secondary" role="alert">
						No new guesses.
					</div>
                    {/if}
					<h2 class="card-title">{$quest.name}</h2>
					<p class="card-text d-inline"><span class="badge badge-secondary">{$quest.photos.questphoto|count}</span> photos in quest</p>
					<a href="{$appPath}/admin-guess/{$quest.Id}" class="btn btn-primary float-right " role="button">Review Guesses</a>
				</div>
			</div>
		</div>
        {/foreach}
	</div>
</section>
