            <h2>Leaderboard</h2>
            <table class="table table-striped table-hover table-sm" style="font-size: 18px;">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Photos Solved</th>
                        <th class="text-center">Winner</th>
                        <th class="text-center">Claimed</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $leaderboard as $leader}
                    <tr>
                        <td class="align-middle">Name: {$leader.info.name}<br />
                        Display: {$leader.info.username}<br />
                        Email: {$leader.info.email}
                        </td>
                        <td class="align-middle">Matches: <span class="badge badge-info">{$leader.matchCount}</span><br />
                            {$comma = ''}
                            {foreach $leader.photos as $photoId => $guessInfo}
                                {if $guessInfo.match == '2'}{$comma}Photo {$quest.photos.questphotolist[$photoId]+1}{$comma = ', '}{/if}{/foreach}
                            {if $leader.matchCount == count($quest.photos.questphoto)}
                            <br />Completion Date:<br />
                            <strong>{$leader.completionDate|date_format:"%A, %B %e, %Y"}</strong>
                            {/if}
                        </td>
                        {if $leader.matchCount == count($quest.photos.questphoto)}
                        <td class="align-middle text-center">
                            <a href="#" class="winnerButton" title="Toggle Winner" data-id="{$quest.Id}" data-status="{$leader.winnerInfo.active|default:0}" data-email="{$leader.info.email}"><i class="fa fa-trophy fa-2x text-{if $leader.winnerInfo.active == 1}success{else}secondary{/if}" aria-hidden="true"></i></a>
                            {if $leader.winnerInfo.active == 1}
                            <br />Claim Code:
                            <br /><strong>{$leader.winnerInfo.claimCode}</strong>
                            {/if}
                        </td>
                        <td class="align-middle text-center">
                            {if $leader.winnerInfo.active == 1}
                            {if $leader.winnerInfo.prizeClaimed == 1}
                            <a href="#" class="claimButton" title="Toggle Winner" data-id="{$quest.Id}" data-prize="{$leader.winnerInfo.prizeClaimed|default:0}" data-email="{$leader.info.email}"><i class="fa fa-check-square-o"></i></a>
                            {else}
                            <a href="#" class="claimButton" title="Toggle Winner" data-id="{$quest.Id}" data-prize="{$leader.winnerInfo.prizeClaimed|default:0}" data-email="{$leader.info.email}"><i class="fa fa-square-o"></i></a>
                            {/if}
                            {/if}
                        </td>
                        {else}
                        <td></td>
                        <td></td>
                        {/if}
                    </tr>
                    {/foreach}
                </tbody>
            </table>

            <form action="{$appPath}/admin-guess/update/winner" method="post" id="itemForm">
                <input type="hidden" name="action" id="action" value="" />
                <input type="hidden" name="questId" id="questId" value="" />
                <input type="hidden" name="status" id="status" value="" />
                <input type="hidden" name="prize" id="prize" value="" />
                <input type="hidden" name="email" id="email" value="" />
            </form>
<script>
{literal}
$(document).ready(function() {
    $('.winnerButton').click(function() {
        $('#questId').val($(this).data('id'));
        $('#status').val($(this).data('status'));
        $('#email').val($(this).data('email'));
        $('#action').val('winner');
        WyoUI.post('itemForm','leaderboardContainer','');
    });
    $('.claimButton').click(function() {
        $('#questId').val($(this).data('id'));
        $('#prize').val($(this).data('prize'));
        $('#email').val($(this).data('email'));
        $('#action').val('prize');
        WyoUI.post('itemForm','leaderboardContainer','');
    });
});
{/literal}
</script> 
