            <table class="table table-striped table-hover table-sm" style="font-size: 18px;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Photo</th>
                        <th>Match</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $guesses.guessList as $guess}
                    <tr>
                        <td class="align-middle">{$guess.name}</td>
                        <td class="align-middle">{$guess.username}</td>
                        <td class="align-middle">{$guess.email}</td>
                        <td class="align-middle">
                            <img src="{$appPath}/data{$guess.fileLocation}" style="max-height: 100px;">
                        </td>
                        <td class="align-middle">
                            {if $guess.match == 1}
                            <span class="badge badge-info">Not Reviewed</span>
                            {elseif $guess.match == 0}
                            <span class="badge badge-warning"><i class="fa fa-thumbs-o-down"></i> Not A Match</span>
                            {else}
                            <span class="badge badge-success"><i class="fa fa-thumbs-o-up"></i> Match</span>
                            {/if}
                        </td>
                        <td class="align-middle">
                            <a href="#" class="btn btn-success btn-lg matchButton" title="Match!" data-id="{$guess.Id}" data-photoid="{$guess.photoId}"><i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i></a>
                            <a href="#" class="btn btn-warning btn-lg incorrectButton" title="Incorrect" data-id="{$guess.Id}" data-photoid="{$guess.photoId}"><i class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></i></a>
                            <a href="#" class="btn btn-danger btn-lg deleteButton" title="Delete" data-id="{$guess.Id}" data-photoid="{$guess.photoId}"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
            
            <form action="{$appPath}/admin-guess/update" method="post" id="itemForm">
                <input type="hidden" name="guess[questId]" value="{$guesses.Id}" />
                <input type="hidden" name="guess[guessId]" value="" id="guessId" />
                <input type="hidden" name="guess[photoId]" value="" id="photoId" />
                <input type="hidden" name="guess[action]" value="" id="guessAction" />
            </form>
<script>
{literal}
$(document).ready(function() {
    $('.matchButton').click(function() {
        $('#guessId').val($(this).data('id'));
        $('#photoId').val($(this).data('photoid'));
        $('#guessAction').val('match');
        WyoUI.post('itemForm','guessList','');
    });
    $('.incorrectButton').click(function() {
        $('#guessId').val($(this).data('id'));
        $('#photoId').val($(this).data('photoid'));
        $('#guessAction').val('incorrect');
        WyoUI.post('itemForm','guessList','');
    });
    $('.deleteButton').click(function() {
        $('#guessId').val($(this).data('id'));
        $('#photoId').val($(this).data('photoid'));
        $('#guessAction').val('delete');
        WyoUI.post('itemForm','guessList','');
    });
});
{/literal}
</script> 