<section class="content-header">
    <h3>
        <i class="fa fa-question-circle"></i> {$guesses.name} Photo Review
    </h3>
</section>

<section class="content">
    <p>
        <a href="{$appPath}/admin-guess/{$guesses.Id}" class="btn btn-secondary">Return To Photos</a>
    </p>
    <div class="row">
        <div class="col-3">
             <label>Original Photo</label><br />
             <img class="img-fluid" src="{$appPath}/data{$guesses.photo.fileLocationWeb}">
             <br /><br />
             <label>Contest Photo</label><br />
             <img class="img-fluid" src="{$appPath}/data{$guesses.photo.fileLocationCrop}">
        </div>
        <div class="col-9" id="guessList">
        {include file="admin/guesses.list.html"}
        </div>
    </div>
</section>