<section class="content-header">
	<h3>
		<i class="fa fa-question-circle"></i> Guesses
	</h3>
</section>

<section class="content">
	<div class="row">
		<div class="col">
                <h4>{$photo.name}</h4>
                <p>{$photo.description}</p>
        </div>
     </div>
     <div class="row">
        <div class="col">
                <p><span class="text-bold">Original Photo</span><br />
			    <img class="img-responsive" style="max-height: 250px;" src="{$appPath}/data{$photo.fileLocation}">
                <br />
                <span class="text-bold">Contest Photo</span><br />
			    <img class="img-responsive" style="max-height: 250px;" src="{$appPath}/data{$photo.fileCropLocation}">
                </p>
		</div>
		<div class="col">
				{include file='admin/messages.html'}

                <div class="dataTable_wrapper">
					<table class="table table-striped table-hover admin-table"	id="sponsors-table">
						<thead>
						<tr>
							<th>Name</th>
							<th>Username</th>
							<th>Email</th>
							<th>Submitted Photo</th>
							<th class="no-sort">Action</th>
						</tr>
						</thead>
						<tbody>
						{foreach $guessList as $guess}
							<tr class="guess odd gradeX" id="guess-{$guess.id}">
								<td>
				                    <a href="{$appPath}/admin/guess/{$guess.id}">{$guess.name}</a>
								</td>
								<td>
									{$guess.username}
								</td>
								<td>
									{$guess.email}
								</td>
								<td>
									<img class="img-responsive" style="max-height: 50px;" src="{$appPath}/data{$guess.fileLocation}">
								</td>
                                <td>
								    {if $appPermissions->hasAdminAccess()}
                                    <a href="{$appPath}/admin/guesses/winner/{$guess.id}/{$guess.photoId}" class="btn btn-default"><i class="fa fa-trash-o"></i></a>
                                    {/if}
                                    <a href="{$appPath}/admin/guesses/flag/{$guess.id}/{$guess.photoId}" class="btn btn-danger"><i class="fa fa-flag"></i></a>
                                    <a href="{$appPath}/admin/guesses/winner/{$guess.id}/{$guess.photoId}" class="btn btn-success"><i class="fa fa-trophy"></i></a>
                                 </td>
							</tr>
						{/foreach}
						</tbody>
					</table>
				</div>
				<!-- /.table-responsive -->
			</div>
	</div>
</section>