<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>##APP_NAME##</title>

    <link rel="icon" href="{$appPath}/public/images/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{$appPath}/public/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{$appPath}/public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{$appPath}/public/images/favicon-16x16.png">
    
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="{$appPath}/public/bootstrap/css/bootstrap.min.css?v={$version}">
    <!-- Our Custom CSS -->
{*  <link rel="stylesheet" href="{$appPath}/public/css/bootstrap.min.css?v={$version}"> *}
    <link rel="stylesheet" href="{$appPath}/public/css/style.bs4.css?v={$version}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{$appPath}/public/plugins/malihu-custom-scrollbar/jquery.mCustomScrollbar.min.css?v={$version}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{$appPath}/public/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- Croppie -->
    <link rel="stylesheet" href="{$appPath}/public/plugins/croppie/croppie.css">

    <script src="{$appPath}/public/plugins/jQuery/jquery-3.5.1.min.js?v={$version}"></script>
    
    <!-- Data Tables -->
    <link rel="stylesheet" href="{$appPath}/public/plugins/datatables/datatables.min.css?v={$version}">
    

    <script>
      var appConfig = {literal}{{/literal}appPath: '{$appPath}'{literal}}{/literal};
    </script>

</head>

<body>

    <img src="{$appPath}/public/images/logo.jpg" class="logo-lg img-fluid" style="position: absolute; top: 5px; left: 6px; z-index: 1000; height:30px;"/>

    <div class="wrapper">       
    

        <!-- Sidebar  -->
        <nav id="sidebar">
            <header class="main-header">
                <div class="navbar-header">
                    <a href="{$appPath}/dashboard" class="logo">
                        <!-- <img src="{$appPath}/public/images/defaultlogobeck-sm.png" class="logo-mini img-fluid" />
                        <img src="{$appPath}/public/images/defaultlogobeck.png" class="logo-tablet img-fluid" /> 
                        <img src="{$appPath}/public/images/defaultlogobeck.png" class="logo-lg img-fluid" style="margin: auto; "/> -->
                        
                    </a>
                </div>              
            </header>

            <ul class="list-unstyled components"> 
                <li {if strpos($smartyIncludeFile,'dashboard') !== false}class="active"{/if}>
                    <a href="{$appPath}/dashboard"><i class="fa fa-tachometer"></i> Dashboard</a>
                </li>   
                <li><a href="{$appPath}"><i class="fa fa-camera"></i> <span>Home Page</span></a></li>
                <li {if strpos($route,'/admin-quest') !== false}class="active"{/if}><a href="{$appPath}/admin-quest"><i class="fa fa-search"></i> <span>Quests</span></a></li>
                <li {if strpos($smartyIncludeFile,'admin/guess') !== false}class="active"{/if}><a href="{$appPath}/admin-guess"><i class="fa fa-question-circle"></i> <span>Guesses</span></a></li>
                {*
                <li {if strpos($smartyIncludeFile,'admin/photo') !== false}class="active"{/if}><a href="{$appPath}/admin/photos"><i class="fa fa-picture-o"></i> <span>Photos</span></a></li>
                <li {if strpos($smartyIncludeFile,'admin/sponsor') !== false}class="active"{/if}><a href="{$appPath}/admin/sponsors"><i class="fa fa-handshake-o"></i> <span>Sponsors</span></a></li>
                <li {if strpos($smartyIncludeFile,'admin/prize') !== false}class="active"{/if}><a href="{$appPath}/admin/prizes"><i class="fa fa-gift"></i> <span>Prizes</span></a></li>            
                *}
                {if $appPermissions->hasAdminAccess()}
                <li {if strpos($route,'admin-') !== false}class="active"{/if}>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="{if strpos($route,'/admin-') !== false}true{else}false{/if}" class="dropdown-toggle" ><i class="fa fa-cog"></i> Site Setup</a>
                    <ul class="collapse list-unstyled {if strpos($route,'/admin-') !== false}show{/if}" id="pageSubmenu">
                        <li {if strpos($route,'/admin-user') !== false}class="active"{/if}><a href="{$appPath}/admin-user"><i class="fa fa-users"></i> <span>Users</span></a></li>
                        <li {if strpos($smartyIncludeFile,'admin/audit') !== false}class="active"{/if}><a href="{$appPath}/admin/audit"><i class="fa fa-archive"></i> <span>Audit</span></a></li>
                    </ul>
                </li>
                {/if}
                <li {if strpos($smartyIncludeFile,'release') !== false}class="active"{/if}>
                    <a href="{$appPath}/docs/release"><i class="fa fa-sticky-note"></i> Release Notes</a>
                </li>
                {*
                <li {if strpos($smartyIncludeFile,'help') !== false}class="active"{/if}>
                    <a href="{$appPath}/docs/help"><i class="fa fa-question-circle"></i> Help</a>
                </li>
                *}
            </ul>

        </nav>

       <!-- Page Content  -->
        <div id="main">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="headerNav">
                <div class="container-fluid">

                   <button type="button" id="sidebarCollapse" class="btn btn-dark">
                        <i class="fa fa-align-justify"></i>                        
                    </button> 
                    
                    <!-- {if $env != prod}
                    <div class="alert alert-warning float-left" style="padding: 4px; margin: 0px 0px 0px 100px; position: absolute;">
                        <i class="fa fa-exclamation-triangle"></i> You are accessing the {$env} server.
                    </div>
                    {/if} -->
                    
                    <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                Menu Toggle Button
                                <a class="nav-link" href="#">
                                    <span>{$smarty.session.user.name} {if $showDevOptions} ({$smarty.session.user.accessLevelLabel}){/if}</span>
                                </a>
                            </li>
                                Control Sidebar Toggle Button
                            <li class="nav-item">
                                <a class="nav-link" href="{$appPath}/logout" title="Logout"><i class="fa fa-power-off"></i></a>
                            </li>
                        </ul>
                    </div> -->
                    
                    <div class="btn-group dropleft">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span><i class="fa fa-user"></i> {$smarty.session.user.name}</span>
                        </button>
                        <div class="dropdown-menu">
                            <span class="dropdown-item-text">{if $showDevOptions} ({$smarty.session.user.accessLevelLabel}) {/if}</span>
                            <a class="dropdown-item" href="{$appPath}/logout" title="Logout"><i class="fa fa-power-off"></i> Log Out</a>                           
                        </div>
                    </div>
                </div>
            </nav>
            
            <!-- Content Wrapper. Contains page content --> 
            <div id="workspace">
                <div class="container">
                    {include file=$smartyIncludeFile}
                </div>
            </div><!-- /.content-wrapper -->
      
            <!-- Main Footer -->
            <footer class="footer">
                <div class="footer-container">
                    <!-- To the right -->
                    <div class="float-right hidden-xs" style="padding-right: 5px;">
                        <span class="text-muted">Version: {$version}</span>
                    </div>
                    <span class="text-muted">Copyright &copy; {date('Y')} <a href="#">##APP_NAME##</a>. All rights reserved.</span>
                    {if $showDevOptions == 1 || $smarty.get.proddebug == '1'}
                    {include file='utils/dev.links.html' templateFile=$smarty.template}
                    {/if}
                </div>
            </footer>
        </div>      
    </div>
    <div id="toastWrapper" style="position: absolute; top: 10px; right: 5px; display:none;">
            
    </div>
    
    <!-- Popper.JS -->
    <script src="{$appPath}/public/plugins/popper/popper.min.js?v={$version}"></script>
    <!-- Bootstrap JS -->
    <script src="{$appPath}/public/bootstrap/js/bootstrap.min.js?v={$version}"></script>
    <!-- jQuery Custom Scroller -->
    <script src="{$appPath}/public/plugins/malihu-custom-scrollbar/jquery.mCustomScrollbar.concat.min.js?v={$version}"></script>
    <!-- Data Tables -->
    <script src="{$appPath}/public/plugins/datatables/datatables.min.js?v={$version}"></script>
    <!-- File Input -->
    <script src="{$appPath}/public/plugins/bs-custom-file-input/bs-custom-file-input.min.js?v={$version}"></script>
    <!-- Croppie -->
    <script src="{$appPath}/public/plugins/croppie/croppie.js?v={$version}"></script>
    
    
    

    <!-- standard-ish utility code -->
    <script src="{$appPath}/public/js/js-wyolution.js?v={$version}"></script>
    <!--custom js for this app-->
    <script src="{$appPath}/public/js/custom.js?v={$version}"></script>
    

    <script type="text/javascript">
        $(document).ready(function () {         
                    
            if(localStorage.getItem('sideBarHidden') == null) {
                localStorage.setItem('sideBarHidden', false);
            }
            else if(localStorage.getItem('sideBarHidden') == 'true') {
                var rule = $('#sidebar, #main, .container-fluid').css("display")
                $('#sidebar, #main, .container-fluid').css("display", "none");
                $('#sidebar, #main, .container-fluid').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                $('#sidebar, #main, .container-fluid').css("display", rule);
            }
        
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"                   
            });
            
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #main, .container-fluid').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                localStorage.setItem('sideBarHidden', localStorage.getItem('sideBarHidden')=='true'?false:true);
            });
            
            bsCustomFileInput.init();
            
        });
    </script>
    
</body>

</html>