<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>##APP_NAME##</title>

    <link rel="icon" href="{$appPath}/public/images/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{$appPath}/public/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{$appPath}/public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{$appPath}/public/images/favicon-16x16.png">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="{$appPath}/public/bootstrap/css/bootstrap.min.css?v={$version}">
    <!-- Our Custom CSS -->
{*  <link rel="stylesheet" href="{$appPath}/public/css/bootstrap.min.css?v={$version}"> *}
    <link rel="stylesheet" href="{$appPath}/public/css/login.css?v={$version}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{$appPath}/public/plugins/malihu-custom-scrollbar/jquery.mCustomScrollbar.min.css?v={$version}">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{$appPath}/public/font-awesome-4.7.0/css/font-awesome.min.css">

    <script src="{$appPath}/public/plugins/jQuery/jquery-3.5.1.min.js?v={$version}"></script>
    
    <!-- Data Tables -->
    <link rel="stylesheet" href="{$appPath}/public/plugins/datatables/datatables.min.css?v={$version}">
    

    <script>
      var appConfig = {literal}{{/literal}appPath: '{$appPath}'{literal}}{/literal};
    </script>

</head>

<body class="text-center">

    {include file=$smartyIncludeFile}
    
    <!-- Popper.JS -->
    <script src="{$appPath}/public/plugins/popper/popper.min.js?v={$version}"></script>
    <!-- Bootstrap JS -->
    <script src="{$appPath}/public/bootstrap/js/bootstrap.min.js?v={$version}"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {         
        });
    </script>
    
</body>

</html>
