    <form action="{$appPath}/forgot/request" method="post" class="form-signin">
        <img class="mb-4 img-fluid" src="{$appPath}/public/images/logo.jpg">
        {if $env != prod}
        <div class="alert alert-danger">You are accessing the {$env} server.</div>
        {/if} 
        {include file='admin/messages.html'}
        <label for="username" class="sr-only">Email address</label> <input
            type="email" id="username" name="username" class="form-control"
            placeholder="Email address" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Request Reset</button>
        <p>
            <br />
            <a href="{$appPath}/login">Login</a>
        </p>
        <p class="mt-5 mb-3 text-muted">
            Copyright &copy; {date('Y')}<br />##APP_NAME##<br />All rights reserved.
        </p>
    </form>
