
<form role="form" action="{$appPath}/forgot/update" method="POST" class="form-signin">
    <img class="mb-4 img-fluid" src="{$appPath}/public/images/logo.jpg">
    {if $env != prod}
    <div class="alert alert-danger">You are accessing the {$env} server.</div>
    {/if}
    <h3>Password Reset</h3>
    {include file='admin/messages.html'}
    <input hidden name="user[authToken]" value="{$user.authToken}"> <label class="sr-only">Password</label> <input name="user[password]" type="password" class="form-control" placeholder="Enter password" minlength="6"{if !isset($user.id)}required{/if}>
    <label class="sr-only">>Password Again</label> 
    <input name="user[passwordConfirm]" type="password" class="form-control" placeholder="Confirm password" minlength="6"{if !isset($user.id)}required{/if}>
    <button type="submit" class="btn btn-primary">Reset Password</button>
    <p class="mt-5 mb-3 text-muted">
        Copyright &copy; {date('Y')}<br />##APP_NAME##<br />All rights reserved.
    </p>
</form>
