    <form action="{$appPath}/validate" method="post" class="form-signin">
        <img class="mb-4 img-fluid" src="{$appPath}/public/images/logo.jpg">
        {if $env != prod}
        <div class="alert alert-danger">You are accessing the {$env} server.</div>
        {/if} 
        {include file='admin/messages.html'}
        <label for="username" class="sr-only">Email address</label> <input
            type="email" id="username" name="username" class="form-control"
            placeholder="Email address" required autofocus> <label
            for="password" class="sr-only">Password</label> <input
            type="password" id="password" name="password"
            class="form-control" placeholder="Password" required>
        {*
        <div class="checkbox mb-3">
            <label> <input type="checkbox" id="rememberMe"
                name="rememberMe" value="1"> Remember me
            </label>
        </div>
        *}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p>
            <br />
            <a href="{$appPath}/forgot">I forgot my password</a>
        </p>
        <p class="mt-5 mb-3 text-muted">
            Copyright &copy; {date('Y')}<br />##APP_NAME##<br />All rights reserved.
        </p>
    </form>
