{if isset($appMessages) }
	{if !empty($appMessages.success) && count($appMessages.success) > 0}
		<div class="alert alert-success app-message">
				{foreach $appMessages.success as $message}
					{$message}<br />
				{/foreach}
		</div>
	{/if}
	{if !empty($appMessages.info) && count($appMessages.info) > 0}
		<div class="alert alert-info app-message">
				{foreach $appMessages.info as $message}
					{$message}<br />
				{/foreach}
		</div>
	{/if}
	{if !empty($appMessages.warning) && count($appMessages.warning) > 0}
		<div class="alert alert-warning app-message">
				{foreach $appMessages.warning as $message}
					{$message}<br />
				{/foreach}
		</div>
	{/if}
	{if !empty($appMessages.danger) && count($appMessages.danger) > 0}
		<div class="alert alert-danger app-message">
				{foreach $appMessages.danger as $message}
					{$message}<br />
				{/foreach}
		</div>
	{/if}
	<script>
    {literal}
    setTimeout(function() {$('.app-message').fadeOut('slow');},4000);
    {/literal}
    </script>	
{/if}