<section class="content-header">
		<h3>
			<i class="fa fa-picture-o fa-fw"></i> Photo Details
		</h3>
</section>

<section class="content">

				{include file='admin/messages.html'}
				
				<form role="form" action="{$appPath}/admin/photo/update" method="POST" enctype="multipart/form-data">
					<input type="hidden" name="photo[id]" value="{$photo.id|default:0}" />

					<div class="form-group">
						<label for="photo-name">Name</label>
						<input id="photo-name" name="photo[name]" value="{$photo.name}" type="text"
												   class="form-control" minlength="4" required>
					</div>
					{if !empty($photo.id)}
					<div class="form-group">
						<label for="date-uploaded">Date Uploaded</label>
						<p>{$photo.dateUploaded|date_format:"%b %d, %Y"}</p>
					</div>
					{/if}
					<div class="form-group">
						<label for="photo-desc">Description</label>
						<textarea id="photo-desc" name="photo[description]" class="form-control">{$photo.description}</textarea>
					</div>
					
					<div class="row" {if empty($photo.fileLocation) || !empty($photo.guessId)}style="display: none;"{/if}>
                    	<div class="col">
                    		<div class="form-group current-photo">
                    			<label>Current Photo</label>
								<p><img src="{$appPath}/data{$photo.fileLocation}" id="photo-file" class="img-fluid"></p>
                    		</div>
		                    <div class="checkbox">
		                    	<label for="photo-delete">
								<input type="checkbox" id="photo-delete" name="photo[deletePhoto]" value="1"> <strong>Delete Photo</strong>
								<i>Will remove photo and allow for new photo to be loaded.</i>
								</label>
		                    </div>
                    	</div>
                    	<div class="col">
		                    <div class="form-group">
								<label>Current Cropped Photo</label>
								<p><img src="{$appPath}/data{$photo.fileCropLocation}" id="photo-file-crop" class="img-fluid"></p>
								<input type="hidden" name="photo[cropFile]" id="photo-file-crop-save" value="" />
								<input type="hidden" name="photo[cropSize]" id="photo-file-crop-size" value="" />
		                    </div>
		                    <button class="btn btn-default" id="set-crop">Set Crop View</button>
		                    <button class="btn btn-default" id="set-crop-done" style="display: none;">Done Cropping</button>
                    	</div>
                    </div>
                    
                    <div class="row" id="photo-file-group" {if !empty($photo.fileLocation)}style="display: none;"{/if}>
                    	<div class="col-md-6">
                    		<div class="form-group">
		                    	<label for="photo-file-upload">Select Photo</label>
								<input type="file" id="photo-file-upload" name="photo[photoFile]" accept=".jpg,.jpeg,.png" onchange="previewImage(event);">
								<p>Upload .jpg, .jpeg, .png</p>
								<p><img src="" id="photo-upload-preview" style="height: 200px; display: none;"></p>
		                    </div>
                    	</div>
                    	<div class="col-md-6 new-photo-crop" style="display: none;">
                    		<div class="form-group">
		                    	<label for="photo-file-upload-crop-preview">Cropped View</label>
								<p><img src="https://via.placeholder.com/200/0000FF/FFFFFF?text=Crop+Missing" id="photo-upload-crop-preview" style="height: 200px" style="display: none"></p>
								<input type="hidden" name="photo[cropFileNew]" id="photo-file-new-crop-save" value="" />
								<input type="hidden" name="photo[cropSizeNew]" id="photo-file-new-crop-size" value="" />
		                    </div>
		                    <button class="btn btn-default" id="set-crop-preview">Set Crop View</button>
		                    <button class="btn btn-default" id="set-crop-preview-done" style="display: none;">Done Cropping</button>
                    	</div>
                    </div>
                    
                    <div class="form-group">
						<label for="photo-hint1">Hint 1</label>
						<p><i>Must fill <u>Hint 1</u> space first.</i></p>
						<input id="photo-hint1" name="photo[hint1]" value="{$photo.hint1}" type="text" class="form-control" minlength="4">
					</div>
					<div class="form-group">
						<label for="photo-hint1-date">Hint Date 1</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</div>
							<input id="photo-hint1-date" name="photo[hint1Date]" value="{$photo.hint1Date}" type="date" class="form-control pull-right">
						</div>
					</div>					
					<div class="form-group">
						<label for="photo-hint2">Hint 2</label>
						<input id="photo-hint2" name="photo[hint2]" value="{$photo.hint2}" type="text" class="form-control" minlength="4">
					</div>
					<div class="form-group">
						<label for="photo-hint2-date">Hint Date 2</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</div>
							<input id="photo-hint2-date" name="photo[hint2Date]" value="{$photo.hint2Date}" type="date" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label for="photo-hint3">Hint 3</label>
						<input id="photo-hint3" name="photo[hint3]" value="{$photo.hint3}" type="text" class="form-control" minlength="4">
					</div>
					<div class="form-group">
						<label for="photo-hint3-date">Hint Date 3</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</div>
							<input id="photo-hint3-date" name="photo[hint3Date]" value="{$photo.hint3Date}" type="date" class="form-control">
						</div>
					</div>
                    <div class="form-group">
                        <label for="photo-sponsor">Sponsor</label>
                        <select id="photo-sponsor" name="photo[sponsorId]" class="form-control">
                           {foreach $sponsors as $sponsor}
                            	<option value="{$sponsor.id}" {if $photo.sponsorId == $sponsor.id}selected{/if}>{$sponsor.name}</option>
                           {/foreach}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="photo-prize">Prize</label>
                        <select id="photo-prize" name="photo[prizeId]" class="form-control">
                           {foreach $prizes as $prize}
                            	<option value="{$prize.id}" {if $photo.prizeId == $prize.id}selected{/if}>{$prize.name}</option>
                           {/foreach}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="photo-active">Status</label>
                        <select id="photo-active" name="photo[active]" class="form-control">
                            <option value="0" {if $photo.active == 0}selected{/if}>Inactive</option>
                            <option value="1" {if $photo.active == 1}selected{/if}>Active</option>
                            <option value="2" {if $photo.active == 2}selected{/if}>Solved</option>
                        </select>
                    </div>

					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary">
							Save Photo
						</button>
						<a href="{$appPath}/admin/photos" class="btn btn-default" formnovalidate="formnovalidate" >
							Cancel/Return
						</a>
					</div>
				</form>				
</section>

<script>
	{literal}
	var photoCrop;
	$(document).ready(function() {
		$('#photo-delete').click(function() {
			console.log($(this).val());
			if ($(this).prop('checked')) {
				$('#photo-file-group').slideDown();
				$('.current-photo').hide();
			}
			else {
				$('#photo-file-group').slideUp();
				$('.current-photo').show();
			}
		});
		$('#set-crop').click(function(event) {
			event.preventDefault();
			photoCrop = $('#photo-file').rcrop();
			$('#photo-file').on('rcrop-changed', function(){
				var srcOriginal = $(this).rcrop('getDataURL');
				//var srcResized = $(this).rcrop('getDataURL', 50,50);
                $('#photo-file-crop').attr('src',srcOriginal);
                $('#photo-file-crop-save').val(srcOriginal);
                var values = $(this).rcrop('getValues');
                var tmp = values.x + ',' + values.y + ',' + values.width + ',' + values.height;
                $('#photo-file-crop-size').val(tmp);
            });
            $('#set-crop').hide();
			$('#set-crop-done').show();
			return false;
		});
		$('#set-crop-done').click(function(event) {
			event.preventDefault();
			$('#photo-file').rcrop('destroy');
			$('#photo-file').attr('class','img-responsive');
			$('#set-crop').show();
			$('#set-crop-done').hide();
			return false;
		});
		$('#set-crop-preview').click(function(event) {
			event.preventDefault();
			photoCrop = $('#photo-upload-preview').rcrop();
			$('#photo-upload-preview').on('rcrop-changed', function(){
				var srcOriginal = $(this).rcrop('getDataURL');
				//var srcResized = $(this).rcrop('getDataURL', 50,50);
                $('#photo-upload-crop-preview').attr('src',srcOriginal);
                $('#photo-file-new-crop-save').val(srcOriginal);
                var values = $(this).rcrop('getValues');
                var tmp = values.x + ',' + values.y + ',' + values.width + ',' + values.height;
                $('#photo-file-new-crop-size').val(tmp);
            });
            $('#set-crop-preview').hide();
			$('#set-crop-preview-done').show();
			return false;
		});
		$('#set-crop-preview-done').click(function(event) {
			event.preventDefault();
			$('#photo-upload-preview').rcrop('destroy');
			$('#photo-upload-preview').attr('class','img-responsive');
			$('#set-crop-preview').show();
			$('#set-crop-preview-done').hide();
			return false;
		});

	})
	
	function previewImage(event) {
		var reader = new FileReader();
		reader.onload = function() {
			$('#photo-upload-preview').attr('src',reader.result);
		}
		reader.readAsDataURL(event.target.files[0]);
		$('#photo-upload-preview').show();
		$('.new-photo-crop').show();
	}
	{/literal}
</script>