<section class="content-header">
	<h3>
		<i class="fa fa-picture-o fa-fw"></i> Photos
	</h3>
</section>

<section class="content">

				{include file='admin/messages.html'}

				{if $appPermissions->hasManagerAccess()}
                <div>
                    <p>
                        <a href="{$appPath}/admin/photo" class="btn btn-primary">
                            <i class="fa fa-plus fa-fw"></i> Add Photo</a>
                        {if $smarty.session.dashboard.activePhotos == '1'}
                        <a href="{$appPath}/admin/photos?active=0" class="btn btn-default">
                            Show All Photos</a>
                        {else}
                        <a href="{$appPath}/admin/photos?active=1" class="btn btn-default">
                            Show Only Active Photos</a>
                        {/if}                                 
                    </p>
                </div>
                {/if}
                <div class="dataTable_wrapper">
					<table class="table table-striped table-hover admin-table"	id="photos-table">
						<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>Date Uploaded</th>
							<th>Prize</th>
							<th>Sponsor</th>
							<th>Winner</th>
							<th>Status</th>
							{if $appPermissions->hasAdminAccess()}
							<th class="no-sort"></th>
							{/if}
						</tr>
						</thead>
						<tbody>
						{foreach $photoList as $photo}
						<tr class="photo odd gradeX" id="photo-{$photo.id}">
							<td>
			                    <a href="{$appPath}/admin/photo/{$photo.id}">{$photo.name}</a>
							</td>
							<td>{$photo.description}</td>
							<td>
								{$photo.dateUploaded|date_format:"%b %d, %Y"}
							</td>
							<td>
								{$photo.prizeName}
							</td>
							<td>
								{$photo.sponsorName}
							</td>
							<td>
								{$photo.winnerId}
							</td>
							<td>
							    {if $photo.active == 1}
							        <span class="text-green"><i class="fa fa-play text-green"></i> active</span>
							     {elseif $photo.active == 2}
							        <span class="text-light-blue"><i class="fa fa-trophy text-light-blue"></i> solved</span>
								{else}
								    <span class="text-muted"><i class="fa fa-ban text-muted"></i> inactive</span>
								{/if}
							</td>
							{if $appPermissions->hasAdminAccess()}
							<td>
								<form action="{$appPath}/admin/photo/delete" method="post">
									<input type="hidden" name="id" value="{$photo.id}" />
									<button type="submit"><i class="fa fa-trash-o"></i></button>
								</form>
							</td>
							{/if}
						</tr>
						{/foreach}
						</tbody>
					</table>
				</div>
				<!-- /.table-responsive -->
</section>