<section class="content-header">
		<h3>
			<i class="fa fa-gift"></i> Prize Details
		</h3>
</section>


<section class="content">
				{include file='admin/messages.html'}
				
				<form role="form" action="{$appPath}/admin/prize/update" method="POST" enctype="multipart/form-data">
					<input type="hidden" name="prize[id]" value="{$prize.id|default:0}" />

					<div class="form-group">
						<label for="prize-name">Name</label>
						<input id="prize-name" name="prize[name]" value="{$prize.name}" type="text"
												   class="form-control" minlength="4" required>
					</div>
					<!--
					{if !empty($prize.id)}
					<div class="form-group">
						<label for="date-uploaded">Date Uploaded</label>
						<p>{$sponsor.dateUploaded|date_format:"%b %d, %Y"}</p>
					</div>
					{/if}
					-->
					<div class="form-group">
						<label for="prize-desc">Description</label>
						<textarea id="prize-desc" name="prize[description]" class="form-control">{$prize.description}</textarea>
					</div>
					
					<!--logo.file location is invalid-->
					<div class="row" id="prize-file-group">
                    	<div class="col-md-6">
        					<div class="form-group">
        		                <label for="logo-file-upload">Select Image</label>
        						<input type="file" id="logo-file-upload" name="prize[image]" accept=".jpg,.jpeg,.png" onchange="previewImage(event);">
        							<p>Upload .jpg, .jpeg, .png</p>
        							<p><img src="" id="prize-upload-preview" style="height: 200px; display: none;"></p>
        		            </div>
        		        </div>
        		    </div>
                    <div class="form-group">
                        <label for="prize-photoId">Photo Id</label>
                        <select id="prize-photoId" name="prize[photoId]" class="form-control">
                           <option value="">None</option>
                           {foreach $photos as $photo}
                            	<option value="{$photo.id}">{$photo.name}</option>
                           {/foreach}
                        </select>
                    </div>

					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary">
							Save Prize
						</button>
						<a href="{$appPath}/admin/prizes" class="btn btn-default" formnovalidate="formnovalidate" >
							Cancel/Return
						</a>
					</div>
				</form>				
</section>

