<section class="content-header">
	<h3>
		<i class="fa fa-gift"></i> Prizes
	</h3>
</section>

<section class="content">

				{include file='admin/messages.html'}

				{if $appPermissions->hasManagerAccess()}
                <div>
                	<p>
                        <a href="{$appPath}/admin/prize" class="btn btn-primary">
                            <i class="fa fa-plus fa-fw"></i> Add Prize</a>
                        {if $smarty.session.dashboard.activePrizes == '1'}
                        <a href="{$appPath}/admin/prizes?active=0" class="btn btn-default">
                            Show All Prizes</a>
                        {else}
                        <a href="{$appPath}/admin/prizes?active=1" class="btn btn-default">
                            Show Only Active Prizes</a>
                        {/if}                                 
                	</p>
                </div>
                {/if}
                <div class="dataTable_wrapper">
					<table class="table table-striped table-hover admin-table"	id="prizes-table">
						<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>Prize</th>
							<!-- <th>Photo Id</th> -->
						</tr>
						</thead>
						<tbody>
						{foreach $prizeList as $prize}
						<tr class="prize odd gradeX" id="prize-{$prize.id}">
							<td>
			                    <a href="{$appPath}/admin/prize/{$prize.id}">{$prize.name}</a>
							</td>
							<td>
								{$prize.description}
							</td>
							<td>
								{if !empty($prize.image)} 
									<img class="img-responsive" style="max-height: 50px;" src="{$appPath}/data{$prize.image}">
								{/if}
							</td>
							<!-- <td>
								<a href="{$appPath}/admin/photo/{$prize.photoId}">{$prize.photoId}</a>
							</td>
							-->
						</tr>
						{/foreach}
						</tbody>
					</table>
				</div>
				<!-- /.table-responsive -->
</section>