                <p><button id="addQuestPhoto" class="btn btn-primary">Add Photo To Quest</button></p>
                {if !empty($quest.photos.questphoto)}
                <h3>Current Quest Photos:</h3>
                <div class="row">
                    {foreach $quest.photos.questphoto as $photo}
                    <div class="col-md-4">
                        <div style="padding: 5px; border: 1px solid #ccc; border-radius: 5px;">
                            <label>Cropped Photo</label><br />
                            <img src="{$appPath}/data{$photo.fileLocationCrop}" class="img-fluid">
                            <br />
                            <br />
                            <label>Original Photo</label><br />
                            <img src="{$appPath}/data{$photo.fileLocationWeb}" class="img-fluid">
                            <br />
                            <br />
                            <button class="modifyPhoto btn btn-small btn-primary" data-id="{$photo.Id}"><i class="fa fa-edit"></i> Modify</button>
                            <button class="deletePhoto btn btn-small btn-danger" data-id="{$photo.Id}"><i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                    {/foreach}
                </div>
                {else}
                <div class="alert alert-info">No photos have been added to this quest.</div>
                {/if}
                
<script>
{literal}
$(document).ready(function() {

    $('#addQuestPhoto').click(function(e) {
        e.preventDefault();
        var itemId = $('#itemId').val();
        if (itemId == '0') {
            $('#questPhotos').html('<div class="alert alert-warning"><p>Please save quest before adding photos.</p></div>');
        }
        else {
            $('#itemId2').val(itemId);
        }
        $('#questPhotoAction').val('addPhoto');
        $('#questPhotos').hide();
        $('#itemForm2').show();
    });
    
    $('.modifyPhoto').click(function(e) {
        e.preventDefault();
        $('#questPhotoId').val($(this).data('id'));
        $('#questPhotoAction').val('addPhoto');
        $('#addQuestPhoto').click();
    });

    $('.deletePhoto').click(function(e) {
        e.preventDefault();
        $('#questPhotoId').val($(this).data('id'));
        $('#questPhotoAction').val('deletePhoto');
        WyoUI.postFiles('itemForm2','questPhotos','');
        $('#itemForm2').hide();
        $('#questPhotos').html('<div class="alert alert-warning"><p><i class="fa fa-spinner"></i> Processing photo. Please wait.</p></div>');
        $('#questPhotos').show();
    });

});
{/literal}
</script>