<section class="content-header">
    <h2>
	    <i class="fa fa-search"></i> Quests
    </h2>
</section>

<section class="content">
            
            {if $appPermissions->hasAccountManagerAccess()}
            <div>
                <p>
                    <a href="{$appPath}/admin-quest/0" class="btn btn-primary"><i class="fa fa-search"></i> Add Quest</a>							
                </p>
            </div>
            {/if}

            {if !empty($questList)}
            <div class="dataTables_wrapper">
                <table class="table table-striped table-hover data-table" role="grid" id="quest-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Winner</th>
                            <th>Status</th>								
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $questList as $quest}
                        <tr class="odd gradeX questRecords" data-id="{$quest.Id}">
                            <td>{$quest.name}</td>
                            <td>{$quest.description}</td>
                            <td>{if !empty($quest.winnerName)}{$quest.winnerName}<br />(on {$quest.winnerDate}){/if}</td>
                            <td>{if $quest.status == 'live'}<span class="badge badge-success">Live</span>
                              {elseif $quest.status == 'preview'}<span class="badge badge-danger">Preview</span>
                              {elseif $quest.status == 'draft'}<span class="badge badge-warning">Draft</span>
                              {elseif $quest.status == 'closed'}<span class="badge badge-secondary">Closed</span>
                              {else}<span class="badge badge-info">Completed</span>{/if}
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
            {else}
            <div class="alert alert-info">Begin by creating your first Quest.</div>
            {/if}

</section>

<script>
$(document).ready(function() {
    $('.questRecords td').not('.ignoreClick').click(function(e) { 
        var questId = $(e.target).parent().data('id');
        console.log('u:' + questId);
        window.location = appConfig.appPath + '/admin-quest/' + questId;
    });
});
</script>