<section class="content-header">
    <h2>
        <i class="fa fa-search"></i> Quest 
    </h2>
    <br clear="all"/>
</section>

<section class="content" id="questContent">


    <div class="row">
        <div class="col-lg-6">

            <form role="form" action="{$appPath}/admin-quest/update" method="POST" id="itemForm" enctype="multipart/form-data">
            <input type="hidden" name="quest[Id]" id="itemId" value="{$quest.Id|default:0}" />
            <input type="hidden" name="quest[photoId]" value="{$quest.photos.prize.Id|default:0}" />

            <div class="form-group">
                <label>Name</label> 
                <input name="quest[name]" value="{$quest.name}" type="text" class="form-control" minlength="2" required />
            </div>
            <div class="form-group">
                <label>Description</label> 
                <textarea name="quest[description]" class="form-control" required>{$quest.description}</textarea>
                <small class="form-text text-muted">
                Information about the quest and the prize for finding the photo.
                </small>
            </div>
            <div class="form-group">
                <label>Social Media Description</label> 
                <textarea name="quest[socialMediaDescription]" class="form-control">{$quest.socialMediaDescription}</textarea>
                <small class="form-text text-muted">
                Should be a short description of quest and prize.  Be concise as possible for best chance of success when shared in social media.
                </small>
            </div>
            
            <div class="form-group">
                <label>Prize Description</label> 
                <input name="quest[prizeDesc]" value="{$quest.prizeDesc}" type="text" class="form-control" maxlength="20" minlength="2"required />
                <small class="form-text text-muted">
                Very short description of prize to be included on homepage with quest. (20 characters max)
                </small>
            </div>

            <div class="form-group">
                <label>Photo of prize</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="prizePhoto" id="prizePhoto">
                    <label class="custom-file-label" for="customFile">Select prize photo</label>
                </div>
                <small class="form-text text-muted">Upload .jpg, .jpeg, .png, .gif, .webp (optional)</small>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {if !empty($quest.photos.prize.fileLocation)}
                    <label>Current prize photo</label><br />
                    <img src="{$appPath}/data{$quest.photos.prize.fileLocation}" class="img-fluid" style="border: 1px solid #ccc; border-radius: 5px;">
                    <br />
                    <br />
                    {/if}
                </div>
                <div class="col-md-6">
                    <div id="prizePhotoPreviewContainer" style="display: none;">
                        <label>Preview prize photo</label><br />
                        <img src="" id="prizePhotoPreview" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Status</label> 
                {if $quest[status] == 'solved'}
                <div class="alert alert-success">Solved</div>
                {else}
                <select name="quest[status]" class="form-control" required>
                {html_options options=$questStatus selected=$quest.status}
                </select>
                {/if}
            </div>
            
            {if !empty($quest['Id'])}
            <div class=form-group">
                <div class="alert alert-danger">
                    <input type="checkbox" name="quest[delete]" value="1"> <label>Delete Quest</label>
                </div>
            </div>
            {/if}

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save Quest</button>
                <a href="{$appPath}/admin-quest" class="btn btn-secondary">Exit</a>
            </div>
            
            </form>

        </div>

        <div class="col-lg-6">

            <div id="questPhotos">
                {include file="admin/quest.photos.html"}
            </div>
            
            <form role="form" action="{$appPath}/admin-quest/update" method="POST" id="itemForm2" enctype="multipart/form-data" style="display: none;">
            <input type="hidden" name="quest[Id]" id="itemId2" value="{$quest.Id|default:0}" />
            <input type="hidden" name="quest[action]" id="questPhotoAction" value="addPhoto" />
            <input type="hidden" name="quest[photoId]" id="questPhotoId" value="" />
                <label>Quest photo</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="questPhoto" id="questPhoto" required>
                    <label class="custom-file-label" for="customFile">Select quest photo</label>
                </div>
                <p>This is the full size photo.  You'll crop once photo has been selected. Upload .jpg, .jpeg, .png, .gif, .webp</p>
                <div id="questPhotoPreviewContainer" style="display: none; width: 400px; height: 400px;">
                    <img src="" id="questPhotoPreview" class="img-fluid">
                </div>
                <div id="questPhotoCroppedPreviewContainer" style="margin-top: 70px; text-align: left; display: none;">
                    <p>Cropped Image Preview</p>
                    <img src="" id="questPhotoCroppedPreview" style="width: 400px; height: 400px;">
                    <input type="hidden" name="quest[questPhotoCrop]" value="" id="questPhotoCroppedField">
                </div>
                <div class="form-group">
                    <br />
                    <button type="submit" class="btn btn-primary">Add Photo To Quest</button>
                    <button class="btn btn-secondary" id="addQuestPhotoCancel">Cancel</a>
                </div>
            </form>

        </div>

    </div> <!-- ./row -->

</section>

<script>
{literal}
var cropImage = null;
$(document).ready(function() {
    $('#itemForm').submit(function(e) { 
        e.preventDefault();
        WyoUI.postFiles('itemForm','','');
    });

    $('#itemForm2').submit(function(e) { 
        e.preventDefault();
        WyoUI.postFiles('itemForm2','questPhotos','');
        $('#itemForm2').hide();
        $('#questPhotos').html('<div class="alert alert-warning"><p><i class="fa fa-spinner"></i> Processing photo. Please wait.</p></div>');
        $('#questPhotos').show();
    });

    $('#prizePhoto').change(function(e) {
        var reader = new FileReader();
        reader.onload = function() {
            $('#prizePhotoPreview').attr('src',reader.result);
            $('#prizePhotoPreviewContainer').show();
        }
        reader.readAsDataURL(e.target.files[0]);
    });

    $('#addQuestPhotoCancel').click(function(e) {
        e.preventDefault();
        $('#questPhotoId').val($(this).data('id'));
        $('#questPhotoAction').val('addPhoto');
        $('#questPhotos').show();
        $('#itemForm2').hide();
    });

    $('#questPhoto').change(function(e) {
        var reader = new FileReader();
        reader.onload = function() {
            if (cropImage != null) {
                cropImage.croppie('destroy');
                $('#questPhotoPreviewContainer').html('<img src="" id="questPhotoPreview" class="img-fluid">');
            }
            $('#questPhotoPreview').attr('src',reader.result);
            $('#questPhotoPreviewContainer').show();
            cropImage = $('#questPhotoPreview').croppie({
                viewport: {
                    width: 300,
                    height: 300
                },
                customClass: 'cropPhotoContainer'
            });
        }
        reader.readAsDataURL(e.target.files[0]);
    });
    
    $('#questPhotoPreviewContainer').on('update.croppie', function(ev, cropData) { 
        cropImage.croppie('result', 'base64').then(function(base64) {
            $('#questPhotoCroppedPreview').attr('src',base64);
            $('#questPhotoCroppedField').val(base64);
            $('#questPhotoCroppedPreviewContainer').show();
        });
    });

});
{/literal}
</script> 