<section class="content-header">
			<h3><i class="fa fa-file-text-o"></i> Release Notes</h3>
</section>


<section class="content">
			{* latest version, class="box box-success", data-widget i class fa-minus, box-body: style="display: block;" *}
			{* other  versions, class="box box-primary collapsed-box", data-widget i class fa-plus, box-body: style="display: none;" *}
            
            {*
					<dl class="dl-horizontal">
						<dt><i class="fa fa-star"></i> New</dt>
						<dd>new newer newest</dd>
						<dd>&nbsp;</dd>
						<dt><i class="fa fa-check"></i> Fixed</dt>
						<dd>not broken no more</dd>
						<dd>&nbsp;</dd>
						<dt><i class="fa fa-refresh"></i> Changed</dt>
						<dd>Bring in latest auth_token code from URS including fix needed to run with php7</dd>
						<dd>changed for the better we hope</dd>
						<dd>&nbsp;</dd>
					</dl>
            *}
          
            
<div class="accordion" id="releaseNotes">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Version 0.2
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#releaseNotes">
      <div class="card-body">
        <dl class="dl-horizontal">
            <dt><i class="fa fa-star"></i> New</dt>
            <dd>Added multiple photos to a quest</dd>
            <dd>&nbsp;</dd>
            <dt><i class="fa fa-refresh"></i> Changed</dt>
            <dd>Added leaderboard feature to admin section</dd>
            <dd>&nbsp;</dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Version 0.1
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#releaseNotes">
      <div class="card-body">
        <dl class="dl-horizontal">
            <dt><i class="fa fa-star"></i> New</dt>
            <dd>Initial release</dd>
            <dd>&nbsp;</dd>
        </dl>
      </div>
    </div>
  </div>

</div>
	
</section>
