<section class="content-header">
	<h3>
		<i class="fa fa-handshake-o"></i> Sponsors
	</h3>
</section>

<section class="content">
				{include file='admin/messages.html'}

				{if $appPermissions->hasManagerAccess()}
                <div>
                    <p>
                        <a href="{$appPath}/admin/sponsor" class="btn btn-primary">
                            <i class="fa fa-plus fa-fw"></i> Add Sponsor</a>
                        {if $smarty.session.dashboard.activeSponsors == '1'}
                        <a href="{$appPath}/admin/sponsors?active=0" class="btn btn-default">
                            Show All Sponsors</a>
                        {else}
                        <a href="{$appPath}/admin/sponsors?active=1" class="btn btn-default">
                            Show Only Active Sponsors</a>
                        {/if}                                 
                    </p>
                </div>
                {/if}
                <div class="dataTable_wrapper">
					<table class="table table-striped table-hover admin-table"	id="sponsors-table">
						<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>Logo</th>
							<th>POC Name</th>
							<th>POC Phone</th>
							<th>POC Email</th>
							<th>Status</th>
							{if $appPermissions->hasAdminAccess()}
							<th class="no-sort"></th>
							{/if}
						</tr>
						</thead>
						<tbody>
						{foreach $sponsorList as $sponsor}
						<tr class="sponsor odd gradeX" id="sponsor-{$sponsor.id}">
							<td>
			                    <a href="{$appPath}/admin/sponsor/{$sponsor.id}">{$sponsor.name}</a>
							</td>
							<td>{$sponsor.description}
							</td>
							<td>
								{if !empty($sponsor.logo)} 
									<img class="img-responsive" style="max-height: 50px;" src="{$appPath}/data{$sponsor.logo}">
								{/if}
							</td>
							<td>
								{$sponsor.pocName}
							</td>
							<td>
								{$sponsor.pocPhone}
							</td>
							<td>
								{$sponsor.pocEmail}
							</td>
							<td>
							    {if $sponsor.active == 1}
							        <span class="text-green"><i class="fa fa-play text-green"></i> active</span>
							     {else}
							        <span class="text-light-blue"><i class="fa fa-ban text-muted"></i> inactive</span>
								{/if}
							</td>
							{if $appPermissions->hasAdminAccess()}
							<td>
								<form action="{$appPath}/admin/sponsor/delete" method="post">
									<input type="hidden" name="id" value="{$sponsor.id}" />
									<button type="submit"><i class="fa fa-trash-o"></i></button>
								</form>
							</td>
							{/if}
						</tr>
						{/foreach}
						</tbody>
					</table>
				</div>
				<!-- /.table-responsive -->
</section>