<section class="content-header">
		<h3>
			<i class="fa fa-handshake-o"></i> Sponsor Details
		</h3>
</section>

<section class="content">

				{include file='admin/messages.html'}
				
				<form role="form" action="{$appPath}/admin/sponsor/update" method="POST" enctype="multipart/form-data">
					<input type="hidden" name="sponsor[id]" value="{$sponsor.id|default:0}" />

					<div class="form-group">
						<label for="sponsor-name">Name</label>
						<input id="sponsor-name" name="sponsor[name]" value="{$sponsor.name}" type="text"
												   class="form-control" minlength="4" required>
					</div>
					{if !empty($sponsor.id)}
					<div class="form-group">
						<label for="date-uploaded">Date Uploaded</label>
						<p>{$sponsor.dateUploaded|date_format:"%b %d, %Y"}</p>
					</div>
					{/if}
					<div class="form-group">
						<label for="sponsor-desc">Description</label>
						<textarea id="sponsor-desc" name="sponsor[description]" class="form-control">{$sponsor.description}</textarea>
					</div>
					<div class="form-group">
						<label for="sponsor-address">Address</label>
						<textarea id="sponsor-address" name="sponsor[address]" class="form-control">{$sponsor.address}</textarea>
					</div>
					<div class="form-group">
						<label for="sponsor-website">Website</label>
						<textarea id="sponsor-website" name="sponsor[website]" class="form-control">{$sponsor.website}</textarea>
					</div>
					
					<!--logo.file location is invalid-->
					<div class="row" id="sponsor-file-group">
                    	<div class="col-md-6">
        					<div class="form-group">
        		                <label for="logo-file-upload">Select Logo</label>
        						<input type="file" id="logo-file-upload" name="sponsor[logo]" accept=".jpg,.jpeg,.png" onchange="previewImage(event);">
        							<p>Upload .jpg, .jpeg, .png</p>
        							<p><img src="" id="sponsor-upload-preview" style="height: 200px; display: none;"></p>
        		            </div>
        		        </div>
        		    </div>
				    <!--
					<div class="row" {if empty($photo.fileLocation) || !empty($photo.guessId)}style="display: none;"{/if}>
                    	<div class="col-md-6">
                    		<div class="form-group current-photo">
                    			<label>Current Photo</label>
								<p><img src="{$appPath}/data{$photo.fileLocation}" id="photo-file" class="img-responsive"></p>
                    		</div>
		                    <div class="checkbox">
		                    	<label for="photo-delete">
								<input type="checkbox" id="photo-delete" name="photo[deletePhoto]" value="1"> <strong>Delete Photo</strong>
								<i>Will remove photo and allow for new photo to be loaded.</i>
								</label>
		                    </div>
                    	</div>
                    	<div class="col-md-6 current-photo">
		                    <div class="form-group">
								<label>Current Cropped Photo</label>
								<p><img src="{$appPath}/data{$photo.fileCropLocation}" id="photo-file-crop" class="img-responsive"></p>
								<input type="hidden" name="photo[cropFile]" id="photo-file-crop-save" value="" />
								<input type="hidden" name="photo[cropSize]" id="photo-file-crop-size" value="" />
		                    </div>
		                    <button class="btn btn-default" id="set-crop">Set Crop View</button>
		                    <button class="btn btn-default" id="set-crop-done" style="display: none;">Done Cropping</button>
                    	</div>
                    </div>
                    
                    <div class="row" id="photo-file-group" {if !empty($photo.fileLocation)}style="display: none;"{/if}>
                    	<div class="col-md-6">
                    		<div class="form-group">
		                    	<label for="photo-file-upload">Select Photo</label>
								<input type="file" id="photo-file-upload" name="photo[photoFile]" accept=".jpg,.jpeg,.png" onchange="previewImage(event);">
								<p>Upload .jpg, .jpeg, .png</p>
								<p><img src="" id="photo-upload-preview" style="height: 200px; display: none;"></p>
		                    </div>
                    	</div>
                    	<div class="col-md-6 new-photo-crop" style="display: none;">
                    		<div class="form-group">
		                    	<label for="photo-file-upload-crop-preview">Cropped View</label>
								<p><img src="https://via.placeholder.com/200/0000FF/FFFFFF?text=Crop+Missing" id="photo-upload-crop-preview" style="height: 200px" style="display: none"></p>
								<input type="hidden" name="photo[cropFileNew]" id="photo-file-new-crop-save" value="" />
								<input type="hidden" name="photo[cropSizeNew]" id="photo-file-new-crop-size" value="" />
		                    </div>
		                    <button class="btn btn-default" id="set-crop-preview">Set Crop View</button>
		                    <button class="btn btn-default" id="set-crop-preview-done" style="display: none;">Done Cropping</button>
                    	</div>
                    </div>
                    -->
                    <div class="form-group">
						<label for="sponsor-pocName">POC Name</label>
						<input id="sponsor-pocName" name="sponsor[pocName]" value="{$sponsor.pocName}" type="text" class="form-control" minlength="4">
					</div>
										
					<div class="form-group">
						<label for="sponsor-pocPhone">POC Phone</label>
						<input id="sponsor-pocPhone" name="sponsor[pocPhone]" value="{$sponsor.pocPhone}" type="text" class="form-control" minlength="4">
					</div>
					
					<div class="form-group">
						<label for="sponsor-pocEmail">POC Email</label>
						<input id="sponsor-pocEmail" name="sponsor[pocEmail]" value="{$sponsor.pocEmail}" type="text" class="form-control" minlength="4">
					</div>
					
					<div class="form-group">
						<label for="sponsor-notes">Notes</label>
						<textarea id="sponsor-notes" name="sponsor[notes]" class="form-control">{$sponsor.notes}</textarea>
					</div>
                    
                    <div class="form-group">
                        <label for="sponsor-active">Status</label>
                        <select id="sponsor-active" name="sponsor[active]" class="form-control">
                            <option value="0" {if $sponsor.active == 0}selected{/if}>Inactive</option>
                            <option value="1" {if $sponsor.active == 1}selected{/if}>Active</option>
                        </select>
                    </div>
                    
					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary">
							Save Sponsor
						</button>
						<a href="{$appPath}/admin/sponsors" class="btn btn-default" formnovalidate="formnovalidate" >
							Cancel/Return
						</a>
					</div>
				</form>				
</section>
<script>
/*
	{literal}
	var photoCrop;
	$(document).ready(function() {
		$('#photo-delete').click(function() {
			console.log($(this).val());
			if ($(this).prop('checked')) {
				$('#photo-file-group').slideDown();
				$('.current-photo').hide();
			}
			else {
				$('#photo-file-group').slideUp();
				$('.current-photo').show();
			}
		});
		$('#set-crop').click(function(event) {
			event.preventDefault();
			photoCrop = $('#photo-file').rcrop();
			$('#photo-file').on('rcrop-changed', function(){
				var srcOriginal = $(this).rcrop('getDataURL');
				//var srcResized = $(this).rcrop('getDataURL', 50,50);
                $('#photo-file-crop').attr('src',srcOriginal);
                $('#photo-file-crop-save').val(srcOriginal);
                var values = $(this).rcrop('getValues');
                var tmp = values.x + ',' + values.y + ',' + values.width + ',' + values.height;
                $('#photo-file-crop-size').val(tmp);
            });
            $('#set-crop').hide();
			$('#set-crop-done').show();
			return false;
		});
		$('#set-crop-done').click(function(event) {
			event.preventDefault();
			$('#photo-file').rcrop('destroy');
			$('#photo-file').attr('class','img-responsive');
			$('#set-crop').show();
			$('#set-crop-done').hide();
			return false;
		});
		$('#set-crop-preview').click(function(event) {
			event.preventDefault();
			photoCrop = $('#photo-upload-preview').rcrop();
			$('#photo-upload-preview').on('rcrop-changed', function(){
				var srcOriginal = $(this).rcrop('getDataURL');
				//var srcResized = $(this).rcrop('getDataURL', 50,50);
                $('#photo-upload-crop-preview').attr('src',srcOriginal);
                $('#photo-file-new-crop-save').val(srcOriginal);
                var values = $(this).rcrop('getValues');
                var tmp = values.x + ',' + values.y + ',' + values.width + ',' + values.height;
                $('#photo-file-new-crop-size').val(tmp);
            });
            $('#set-crop-preview').hide();
			$('#set-crop-preview-done').show();
			return false;
		});
		$('#set-crop-preview-done').click(function(event) {
			event.preventDefault();
			$('#photo-upload-preview').rcrop('destroy');
			$('#photo-upload-preview').attr('class','img-responsive');
			$('#set-crop-preview').show();
			$('#set-crop-preview-done').hide();
			return false;
		});

	})
	
	function previewImage(event) {
		var reader = new FileReader();
		reader.onload = function() {
			$('#photo-upload-preview').attr('src',reader.result);
		}
		reader.readAsDataURL(event.target.files[0]);
		$('#photo-upload-preview').show();
		$('.new-photo-crop').show();
	}
	{/literal}
*/
</script>