<section class="content-header">
    <h2>
        <i class="fa fa-user"></i> User 
    </h2>
    <br clear="all"/>
</section>

<section class="content">


    <form role="form" action="{$appPath}/admin-user/update" method="POST" id="itemForm" enctype="multipart/form-data">
    <input type="hidden" name="user[Id]" id="itemId" value="{$user.Id|default:0}" />

    <div class="row">
        <div class="col-sm-6">

                    <div class="form-group">
                        <label>Name</label> 
                        <input name="user[name]" value="{$user.name}" type="text" class="form-control" minlength="2" required />
                    </div>
                    <div class="form-group">
                        <label>Email</label> 
                        <input name="user[email]" type="email" value="{$user.username}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label> 
                        <input name="user[password]" type="password" class="form-control" placeholder="Enter text" minlength="6">
                        <small id="emailHelp" class="form-text text-muted">Leave blank if you don't want to change password.  If providing a password, passwords must be at least 6 characters.</small>
                    </div>
                    <div class="form-group">
                        <label>Password Again</label> 
                        <input name="user[passwordConfirm]" type="password" class="form-control" placeholder="Enter text" minlength="6">
                    </div>
                    <div class="form-group">
                        <label>Access Level</label>
                        <select name="user[accessLevel]" class="form-control">
                        {html_options options=$userTypes selected=$user.accessLevel}
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" name="user[active]" class="custom-control-input" id="customSwitch" value="1" {if $user.active=='1'}checked{/if}> <label class="custom-control-label" for="customSwitch">Active</label>
                        </div>
                    </div>
                    {if ($user.attempts > 4)}
                    <div class="form-group">
                        <div class="alert alert-warning">
                        User currently locked out.  Too many failed login attempts.
                        <br />
                        <label for="user-unlock">
                            <input  id="user-unlock" type="checkbox" name="user[unlock]" value="1">
                            Unlock user
                        </label>
                        </div>
                    </div>
                    {/if}
                    
                    
            <button type="submit" class="btn btn-primary">Save User</button>
            <a href="{$appPath}/admin-user" class="btn btn-secondary">Exit</a>

        </div>
        
        <div class="col-sm-6">
            <div class="form-group">
                <label>Company Name</label> <input name="user[companyName]"
                    value="{$user.companyName}" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Website</label> <input name="user[website]"
                    value="{$user.website}" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Comany Email</label> <input name="user[companyEmail]"
                    value="{$user.companyEmail}" type="email" class="form-control">
            </div>
            <div class="form-group">
                <label>Company Phone</label> 
                <input name="user[companyPhone]" type="text" value="{$user.companyPhone}" class="form-control phone_us" required>
            </div>
            <div class="form-group">
                <label>Street</label> <input name="user[address]"
                    value="{$user.address}" type="text" class="form-control"
                    placeholder="Address line 1">
            </div>
            <div class="form-group">
                <label>Street (Line 2)</label> <input name="user[address2]"
                    value="{$user.address2}" type="text" class="form-control"
                    placeholder="Address line 2">
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>City</label> <input name="user[city]"
                            value="{$user.city}" type="text" class="form-control"
                            placeholder="City">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group ">
                        <label>State</label> 
                        <select name="user[state]" class="form-control">
                            <option value=""></option>
                            {foreach $states as $abv => $state}
                            <option value="{$abv}" {if $user.state == $abv}selected{/if}>{$state}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group ">
                        <label>Postal Code</label> <input name="user[postalCode]"
                            value="{$user.postalCode}" type="text" class="form-control"
                            placeholder="Postal code">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Company Logo</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="companyLogo" id="companyLogo">
                    <label class="custom-file-label" for="customFile">Select company logo</label>
                </div>
                <small class="form-text text-muted">Upload .jpg, .jpeg, .png, .gif, .webp (optional)</small>
                <div id="companyLogoContainer" style="display: none;">
                    <p>Preview</p>
                    <img src="" id="companyLogoPreview" class="img-fluid">
                </div>
                {if !empty($user.companyLogo)}
                <div class="form-group">
                    <label>Current Logo</label><br />
                    <img src="{$appPath}/data{$user.companyLogo}" class="img-fluid">
                    <br /><br />
                    <input type="checkbox" name="user[deletePhoto]" value="1"> Remove Company Logo
                </div>
                {/if}
            </div>
        </div>

    </div> <!-- ./row -->

    </form>

</section>

<script>
$(document).ready(function() {
    $('#itemForm').submit(function(e) { 
        e.preventDefault();
        WyoUI.postFiles('itemForm','','');
    });

    $('#companyLogo').change(function(e) {
        var reader = new FileReader();
        reader.onload = function() {
            $('#companyLogoPreview').attr('src',reader.result);
            $('#companyLogoContainer').show();
        }
        reader.readAsDataURL(e.target.files[0]);
    });
});
</script> 