<section class="content-header">
    <h2>
	    <i class="fa fa-users"></i> Users
    </h2>
</section>

<section class="content">
            
            {if $appPermissions->hasAdminAccess()}
            <div>
                <p>
                    <a href="{$appPath}/admin-user/0" class="btn btn-primary"><i class="fa fa-user fa-fw"></i> Add User</a>							
                </p>
            </div>
            {/if}

            {if !empty($userList)}
            <div class="dataTables_wrapper">
                <table class="table table-striped table-hover data-table" role="grid" id="user-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Access Level</th>
                            <th width="50">Active</th>								
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $userList as $user}
                        <tr class="odd gradeX userRecords" data-id="{$user.Id}">
                            <td>{$user.name}</td>
                            <td>{$user.phone}</td>
                            <td>{$user.username}</td>
                            <td>{$appPermissions->getRoleDesc($user.accessLevel)}</td>
                            <td>
                                {if $user.active}
                                <span style="display: none;">{$user.active}</span><i class="fa fa-check fa-fw text-success"></i>{else}<i class="fa fa-ban fa-fw text-warning"></i>
                                {/if}									
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
            {/if}

</section>

<script>
$(document).ready(function() {
    $('.userRecords td').not('.ignoreClick').click(function(e) { 
        var userId = $(e.target).parent().data('id');
        console.log('u:' + userId);
        window.location = appConfig.appPath + '/admin-user/' + userId;
    });
});
</script>