body {
  padding-top: 5rem;
  background-color: #B8D3DD;
}
.jumbotron{
    background-color: #444444;
    color: #ffffff;
}
.thumbnail {
	height: 172px;
	overflow: hidden;
	background-color: white;
	border: 4px solid white;
    border-radius: .25rem;
    margin-bottom: 20px;
}
.thumbnails img{
  margin-bottom: 25px;
  min-width: 200px;
  width: 100%;
  border: none;
  padding: 0;
  border-radius: .25rem;
}
