/*
    DEMO STYLE
*/

body {
    font-family: Calibri, sans-serif;
}

/* ---------------------------------------------------
    Font Sizes
----------------------------------------------------- */
body { font-size: 0.85rem; }
h1   { font-size: 1.60rem; }
h2   { font-size: 1.45rem; }
h3   { font-size: 1.30rem; }
h4   { font-size: 1.15rem; }
h5   { font-size: 1.00rem; }
h6   { font-size: 0.85rem; }

/* ---------------------------------------------------
    Padding
----------------------------------------------------- */
.table td, .table th {
    padding: .15rem;
}

.btn-group > .btn, .btn {
    padding: .15rem .4rem;
    font-size: .75rem;
}
.btn-group-sm > .btn, .btn-sm {
    padding: .08rem .2rem;
    font-size: .65rem;
}

/* ---------------------------------------------------
    Other
----------------------------------------------------- */
p {
    font-family: Calibri, sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.xnavbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.xnavbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.xline {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #343a40;
    color: #fff;
    transition: all 0.3s;
    overflow: auto;
    box-shadow: 0px 3px 10px #000;
}

#sidebar.active {
    margin-left: -250px;
    box-shadow: none;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #343a40;
}

#sidebar ul.components {
    padding: 40px 0 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #606060;
    background: #fff;
}

#xsidebar ul li.active>a,
xa[aria-expanded="true"] {
    color: #fff;
    background: #606060;
}

li.active > a {
	color: #ffef04;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    background: #4a4a4a;
}

#sidebar ul li ul li ul li a {
  padding-left: 30px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#main {
    width: calc(100% - 250px);
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#headerNav {
	height: 40px;
}

#main.active {
    width: 100%;
}

#workspace {
	padding: 10px;
	padding-bottom: 40px;
}

.container {
	margin-left: inherit;
}

#workspace > .container {
	max-width: 100%;
	padding-bottom: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.footer-container {
  padding-left: 10px;
}

#headerNav .btn {
	line-height: 0.5;
}

.container-fluid {
	transition: all 0.3s;
}

.container-fluid.active {
	padding-left: 76px;
}

.toast-primary {
	color: #004085;;
	background-color: #cce5ff;
	border-color: #b8daff;
}

.toast-secondary {
	color: #383d41;;
	background-color: #e2e3e5;
	border-color: #d6d8db;
}

.toast-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.toast-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.toast-warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}

.toast-info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        overflow: auto;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #main {
        width: 100%;
    }
    #main.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
    
    .navbar > .container-fluid {
	padding-left: 76px;
	}
}