/*-------------------------------------
 * General
 *-------------------------------------*/
.skin-blue .main-header .logo,
.skin-blue .main-header .logo:hover {
  background-color: #fff;
}
.main-header .logo .logo-tablet {
  display: none;
}

.main-header .logo .logo-mini {
  max-width: inherit;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right), 
.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
	width: 230px;
}

@media screen and (max-width: 767px) {
	.main-header .logo .logo-tablet {
	  display: block;
	  max-height: 50px;
	  margin: auto;
	}
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

.previewContainer img {
	max-width: 80%;
	max-height: 120px;
	padding: 15px;
}


.table td.dt-number,
.table th.dt-number {
	text-align:right;
}

.btn-toolbar {
	margin-bottom: 10px;
}

/*-------------------------------------
 * Utils
 *-------------------------------------*/
#dev-info {
	margin-top: 15px;
	border-radius: 5px;
	padding: 6px;
	background-color: #FFFEDD;
}
