<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Test Page for application = {$applicationName}, version = {$version}<br />
            <small>{$announcement}</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-body">
                {if isset($testError)}
                <div class="alert alert-danger alert-dismissable">
                    <button hidden="true" data-dismiss="alert" class="close" type="button">&times;</button>
                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                    {$testError}
                </div>
                <hr />
                {/if}
                {if $step==1}
                <form role="form" action="{$appPath}/test/smarty2" method="POST">
                {else}
                <form role="form" action="{$appPath}/test/smarty1" method="GET">
                {/if}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="sessionGroupType">Session groups:</label>
                            {if isset($smarty.session.selectedGroupIndex)}
                            {html_options name="sessionGroupType" options=$smarty.session.groupingOptions selected=$smarty.session.selectedGroupIndex}
                            {else}
                            {html_options name="sessionGroupType" options=$smarty.session.groupingOptions}
                            {/if}
                        </div>
                        <div class="form-group">
                            <label for="mtGroupType">Automagic groups:</label>
                            {if isset($mtSelectedGroup)}
                            {html_options name="mtGroupType" options=$groupList selected=$mtSelectedGroup}
                            {else}
                            {html_options name="mtGroupType" options=$groupList}
                            {/if}
                        </div>
                        {if $step==1}
                        <button type="submit" class="btn btn-primary">Submit</button>
                        {else}
                        <button type="submit" class="btn btn-primary">Return to Step 1</button>
                        {/if}
                    </div><!-- /.box-body -->
                </form>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
        <hr />

    </section><!-- /.content -->

</div><!-- /.content-wrapper -->
