<div class="row thumbnails">
    <div class="col-12">
        {foreach $photos as $photo}
            {if $photo@index == 0}
            <div class="row thumbnails">
            {/if}
                <div class="col-6 col-sm-4 col-md-3">
                    <img class="img-thumbnail" src="{$appPath}/{$photo.fileLocation}"></a>
                    <p>Solved by: </p>
                    <!--Just the date, needs to be guesses.dataUploaded<p></p>-->
                </div>
            {if $photo@last}
            </div>
            {/if}
        {foreachelse}
            <p>
                No photos have been solved yet. Please check back later.
            </p>
        {/foreach}
    </div>
</div>