{if !empty($quests)}
<div class="card" style="margin-bottom: 15px;">
    <div class="card-body bg-info rounded">
        <div class="row">
        <div class="col-md-8">
        <h1 class="text-white">Play PhotoFind.me</h1>
        <h3 class="text-white"><i class="fa fa-question" style="width: 40px;"></i> Know the photo?</h3>
        <h3 class="text-white"><i class="fa fa-camera" style="width: 40px;"></i> Take the photo.</h3>
        <h3 class="text-white"><i class="fa fa-trophy" style="width: 40px;"></i> Win the prize!</h3>
        <p class=" lead font-weight-bold" style="color: yellow; font-size: 1.0rem;"><small>All photos represent public locations.  Do not trespass. Failure to abide by all local laws will disqualify you.</small></p>
        </div>
        <div class="col-md-4 text-center">
            <img src="{$appPath}/public/images/happy.jpg" class="img-fluid" style="border-radius: 5px; max-height: 200px;">
        </div>
        </div>
    </div>
</div>

<div class="alert alert-light text-center fade show">
    New to PhotoFind? <br><a href="{$appPath}/howtoplay">Learn How to Play</a>
</div>

{include file='messages.html'}

<div class="row">
{foreach $quests as $quest}
    {if !empty($quest.photos.questphoto)}
    <div class="col-sm-6 col-md-4" style="margin-bottom: 10px;">
        <div class="card quest" data-id="{$quest.Id}" style="cursor: pointer;">
            <div class="card-header">
                {$quest.name|truncate:40:"...":false}
            </div>
            <div class="card-body">
                <img class="img-fluid float-left" style="width: 100%; padding-bottom: 10px;" src="{$appPath}/data{$quest.photos.questphoto.0.fileLocationCrop}">
                <p class="text-center" style="margin-bottom: 0;">
                {if !empty($quest.prizeDesc)}
                <strong>Prize:</strong> {$quest.prizeDesc|truncate:20:"...":true}
                {else}
                &nbsp;
                {/if}
                </p>
            </div>
            {if !empty($quest.userData.companyLogo)}
            <div class="card-footer">
                <button class="btn btn-sm btn-{if $quest.status == 'preview'}danger{else}info{/if}">Play Quest {if $quest.status == 'preview'}(PREVIEW){/if}</button>
                <img src="{$appPath}/data{$quest.userData.companyLogo}" style="height: 30px;" class="float-right">
            </div>
            {/if}
        </div>
    </div>
    {/if}
{/foreach}
    <div class="col-sm-6 col-md-4" style="margin-bottom: 10px;">
        <div class="card">
            <div class="card-header">More Quests Being Loaded.</div>
            <div class="card-body">
                <img class="img-fluid float-left" style="width: 100%; padding-bottom: 10px;" src="{$appPath}/public/images/comingsoon.jpg">
                <p class="text-center" style="margin-bottom: 0;">Check back shortly.</p>
            </div>
            <div class="card-footer">
                <img src="{$appPath}/public/images/photofindLogo.png" style="height: 30px;" class="float-right">
            </div>
        </div>
    </div>
</div>

{else}
<div class="jumbotron jumbotron-fluid bg-info" style="border-radius: 5px;">
<div class="container">
<div class="row">
    <div class="col-9">
        <h1 class="display-4">Loading Quests Now!</h1>
        <p class="lead">Check back soon to play a quest, have fun and even win a prize if you can solve the quest.</p>
    </div>
    <div class="col-3">
        <img class="img-fluid" src="{$appPath}/public/images/logo.jpg" style="border-radius: 5px;">
    </div>
    </div>
</div>
{/if}

<div class="alert alert-warning">
    <strong>Want to host your own Quest?</strong><br />
    Contact Alicia at <a href="tel:+13077632545">307.763.2545</a> or <a href="mailto:alicia@oatware.com">alicia@oatware.com</a> to 
    begin engaging your customers in a whole new and exciting way.</strong>
</div>
        
<script>
{literal}
$(document).ready(function() {
    $('.quest').click(function(e) { 
        e.preventDefault();
        var id = $(this).data('id');
        window.location = appConfig.appPath + '/quest/' + id;
    });
});
{/literal}
</script> 