
<section class="content">
    <div class="card text-white rounded-sm text-center bg-info">
        <div class="card-body">
            <h1 class="text-white">How to Play</h1>
        </div>
    </div>
    <br />
</section>

<section class="content">
    <!-- Quest Ex -->
    <div class="card border-info mb-3">
        <div class="row no-gutters">
            <div class="col-6 text-center p-4">
                <img src="{$appPath}/public/images/questEx.jpg" class="img-fluid"
                    style="border: 1px solid #ccc; margin: 10px; border-radius: 5px;">
                <br> <small><b style="color: #17a2b8;">Quest
                        Example</b></small>
            </div>
            <div class="col-6 bg-info text-white">
                <div class="card-body">
                    <p>
                        <strong>Pick a quest!</strong>
                    </p>
                    <p>Scroll through the quests on the homepage
                        until you find one that seems interesting. Then
                        click "play quest"</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Desc -->
    <div class="card border-light mb-3">
        <div class="row no-gutters">
            <div class="col-6 bg-info text-white">
                <div class="card-body">
                    <p>
                        <strong>Check out the description!</strong>
                    </p>
                    <p>Be sure to look at the prize and read through
                        the quest description for possible clues! To win
                        the prize you must correctly guess every photo
                        in the quest.</p>
                </div>
            </div>
            <div class="col-6 text-center p-4">
                <img src="{$appPath}/public/images/questDesc.jpg" class="img-fluid"
                    style="border: 1px solid #ccc; margin: 10px; border-radius: 5px;">
                <br> <small><b style="color: #17a2b8;">Quest
                        Description</b></small>
            </div>
        </div>
    </div>

    <!-- Guess -->
    <div class="card border-info mb-3">
        <div class="row no-gutters">
            <div class="col-6 text-center p-4">
                <img src="{$appPath}/public/images/imageCrop.jpg" class="img-fluid"
                    style="border: 1px solid #ccc; margin: 10px; border-radius: 5px;">
                <br> <small><b style="color: #17a2b8;">Quest
                        Photo</b></small> <br> <img
                    src="{$appPath}/public/images/imageOrig.jpg" class="img-fluid"
                    style="border: 1px solid #ccc; margin: 10px; border-radius: 5px;">
                <br> <small><b style="color: #17a2b8;">Your
                        Photo</b></small>
            </div>
            <div class="col-6 bg-info text-white">
                <div class="card-body">
                    <p>
                        <strong>Make a guess!</strong>
                    </p>
                    <p>When you have arrived at the physical
                        location, click the "guess" button, complete the
                        short form, then take a picture and submit your
                        guess.</p>
                    <p>Use the same email on each guess!</p>
                    <p>Here is an example of what a good "guess"
                        looks like.</p>
                </div>
            </div>
        </div>
    </div>

    <p class="text-center mt-3">
        <a href="{$appPath}/" class="btn btn-lg btn-primary">Start Questing!</a>
    </p>

</section>