<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{$appPath}/favicon.ico">
   
    {if !empty($socialMediaShare)} 
    <meta property="og:url"           content="{$appPathFull}quest/{$quest.Id}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{$quest.name}" />
    <meta property="og:description"   content="{$quest.socialMediaDescription}" />
    <meta property="og:image"         content="{$appPathFull}data{$quest.photos.questphoto.0.fileLocationCrop}" />
    <meta property="fb:app_id"        content="587459838848892" />
    {/if}

    <title>PhotoFind.me</title>

    <!-- Bootstrap core CSS -->
    <link href="{$appPath}/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{$appPath}/public/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="{$appPath}/public/css/main.css" rel="stylesheet">

    <script src="{$appPath}/public/plugins/jQuery/jquery-3.5.1.min.js"></script>

    <script>
        var appConfig = {literal}{{/literal}appPath: '{$appPath}'{literal}}{/literal};
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    {literal}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171231668-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-171231668-1');
    </script>
    {/literal}
</head>

<body class="d-flex flex-column h-100">

    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="{$appPath}"><img src="{$appPath}/public/images/photofindLogo.png" style="height: 25px; vertical-align: text-top;"> PhotoFind.me</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{$appPath}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{$appPath}/winners">Winners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{$appPath}/howtoplay">How to Play</a>
                    </li>
                    {if $appPermissions->hasAccountManagerAccess()}
                    <li class="nav-item">
                        <a class="nav-link" href="{$appPath}/dashboard">Admin</a>
                    </li>
                    {/if}
                </ul>
                <div class="form-inline">
                    <a class="nav-link" href="#">  </a>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">

        {include file=$smartyIncludeFile}

    </main>


    {if $showDevOptions == 1 || $env == 'devx'}
    <!-- Debug Info -->
    <div class="container" style="clear: both; margin-top: 20px;">
        <div class="alert alert-warning" role="alert">
            {include file='utils/dev.links.html'}
        </div>
    </div>
    {/if}

    <br />

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted"><img src="{$appPath}/public/images/photofindLogo.png" style="height: 25px; vertical-align: text-top;"> PhotoFind.me brought to you by <a href="https://oatware.com" target="_blank"><img src="{$appPath}/public/images/oatwarelogo-sm.png" style="height: 25px; vertical-align: baseline;"></a> 
            | <a href="{$appPath}/tandc">Terms and Conditions</a>
            | <a href="{$appPath}/privacy">Privacy Policy</a>
            </span>
        </div>
    </footer>

    <!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{$appPath}/public/bootstrap/js/bootstrap.min.js"></script>
    
</body>

</html>
