{if isset($appMessages) }
	{if count($appMessages.success) > 0}
		<div class="alert alert-success app-message">
        {foreach $appMessages.success as $message}
            <p>{$message}</p>
        {/foreach}
		</div>
	{/if}
	{if count($appMessages.info) > 0}
		<div class="alert alert-info app-message">
        {foreach $appMessages.info as $message}
            <p>{$message}</p>
        {/foreach}
		</div>
	{/if}
	{if count($appMessages.warning) > 0}
		<div class="alert alert-warning app-message">
        {foreach $appMessages.warning as $message}
            <p>{$message}</p>
        {/foreach}
		</div>
	{/if}
	{if count($appMessages.danger) > 0}
		<div class="alert alert-danger app-message">
        {foreach $appMessages.danger as $message}
            <p>{$message}</p>
        {/foreach}
		</div>
	{/if}
	<script>
    {literal}
    setTimeout(function() {$('.app-message').fadeOut('slow');},5000);
    {/literal}
    </script>	
{/if}