<div class="row">
    <div class="col-md-6 text-center">
        {if !empty($photo.fileCropLocation)}
        <img class="rounded mx-auto d-block img-fluid" src="{$appPath}/data{$photo.fileCropLocation}" style="min-width: 200px">
        {else}
        <img class="rounded mx-auto d-block img-fluid" src="{$appPath}/{$photo.fileLocation}">
        {/if}

        <div style="margin: 10px 0px 10px 0px">
            <a href="{$appPath}" class="btn btn-secondary" style="width: 150px">Return to Quest</a>

            <a href="#workspace" class="btn btn-primary" id="guess-btn" style="width: 150px">Guess</a>
        </div>

        <div class="text-left">
        {include file='messages.html'}
        </div>

    </div>
    {if questTotal == 1}
    <div class="col-md-6">
    <!-- 
        <div class="card" id="workspace">
            <div class="card-body">
                <div id="photo-default" style="display: block">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-sponsor" role="tab" aria-controls="nav-home" aria-selected="true">Sponsor</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-prize" role="tab" aria-controls="nav-profile" aria-selected="false">Prize</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-profile" aria-selected="false">Info</a>

                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        
                        <div class="tab-pane fade show active" id="nav-sponsor" role="tabpanel" aria-labelledby="nav-home-tab">
								<a target="_blank" href="{$sponsor.website}"><img class="img-responsive rounded mx-auto d-block" style="max-width: 70%; padding: 20px;" src="{$appPath}/data{$sponsor.logo}"></a>
								<div class="card-footer text-muted" style="text-align: left;">
                                    <b>{$sponsor.name}:</b> {$sponsor.description}
                                    <br>
                                    <b>Find us at:</b> {$sponsor.address}
                                </div>
                        </div>
                        
                        <div class="tab-pane fade" id="nav-prize" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <img class="img-responsive rounded mx-auto d-block" style="max-width: 50%; padding: 20px;" src="{$appPath}/data{$prize.image}">
                            <div class="card-footer text-muted" style="text-align: center;">
                                    <b>Prize:</b> {$prize.description}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">This photo was posted on: {$photo.dateUploaded|date_format:"%b %d, %Y"}</li>
                                <li class="list-group-item">Guesses
                                    <span class="badge badge-primary badge-pill">{$guessCount}</span>
                                </li>
                                {if $photo.hint1 == null}
                                {else}
                                <li class="list-group-item">Next Hint: mm/dd/yyyy</li>
                                {/if}
                            </ul>
                        </div>
                    </div>
                </div>
       -->
       {else}
       <div class="card mx-auto" id="workspace">
       	<div class="card-body">
                <div id="photo-default" style="display: block">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-sponsor" role="tab" aria-controls="nav-home" aria-selected="true">Sponsor</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-profile" aria-selected="false">Info</a>

                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        
                        <div class="tab-pane fade show active" id="nav-sponsor" role="tabpanel" aria-labelledby="nav-home-tab">
								<a target="_blank" href="{$sponsor.website}"><img class="img-responsive rounded mx-auto d-block" style="width: 50%; padding: 20px;" src="{$appPath}/data{$sponsor.logo}"></a>
								<div class="card-footer text-muted" style="text-align: left;">
                                    <b>{$sponsor.name}:</b> {$sponsor.description}
                                    <br>
                                    <b>Find us at:</b> {$sponsor.address}
                                </div>
                        </div>
                        <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">This photo was posted on: {$photo.dateUploaded|date_format:"%b %d, %Y"}</li>
                                <li class="list-group-item">Guesses
                                    <span class="badge badge-primary badge-pill">{$guessCount}</span>
                                </li>
                                {if $photo.hint1 == null}
                                {else}
                                <li class="list-group-item">Next Hint: mm/dd/yyyy</li>
                                {/if}
                            </ul>
                        </div>
                    </div>
                </div>
       {/if}
                <!-- ./photo-default -->
                <div id="guess" style="display: none">
                    <form role="form" action="{$appPath}/guess" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="guess[photoId]" value="{$photo.id}" />
                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            Please fill out this short form to submit your guess. If we do not have valid information, you may not recieve your prize!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                        </div>
                        <div class="form-group">
                            <label for="inputName">Name</label>
                            <input type="text" name="guess[name]" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Enter name" required>
                            <small class="form-text text-muted">Your real name will remain confidential.</small>
                        </div>
                        <div class="form-group">
                            <label for="inputUsername">Username</label>
                            <input type="text" name="guess[username]" class="form-control" id="inputUsername" aria-describedby="usernameHelp" placeholder="Enter Username" required>
                            <small class="form-text text-muted">This will be publicly displayed if you win.</small>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Email address</label>
                            <input type="email" name="guess[email]" class="form-control" id="inputEmail" placeholder="Enter email" required>
                            <small class="form-text text-muted">Your email will remain confidential.</small>
                        </div>
                        <div class="form-group">
                            <label for="inputGroupFile04">Select image</label>
                            <input type="file" name="photo" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary float-right" id="submit-btn">Submit</button>
                        <button type="button" class="btn btn-secondary cancel-btn float-right mr-2">Cancel</button>
                    </form>
                </div>
                <div id="success-window" style="display: none">
                    <div class="alert alert-success" role="alert">
                        Successful submission
                    </div>
                    <a href="{$appPath}" class="btn btn-secondary btn-block" style="width: 150px">Return home</a>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        {literal}
        $(document).ready(function () {
            $('.cancel-btn').click(function() {
                $('#guess').hide();
                $('#success-window').hide();
                $('#photo-default').show();
                return false;
            });
            $('#guess-btn').click(function() {
                $('#photo-default').hide();
                $('#success-window').hide();
                $('#guess').show();
                return false; 
            });
        });
        {/literal}
    </script>