<div class="card">
<div class="card-body">

<h1>Privacy Policy</h1>

    <p><strong>Last updated July 07, 2020</strong></p>

    <p>
        <b>Oatware, LLC</b> (<b>"Oatware"</b>, "we," or "us") is committed to protecting your privacy and utilizing technology that gives you a powerful and safe online experience. This Privacy Policy applies to the <b>Oatware, LLC</b> operated websites and applications, and governs data collection and usage.
    </p>

    <p>If you have questions or concerns about our privacy policy or practices, please contact us in the first instance at
        <a href="mailto:privacy@oatware.com">privacy@oatware.com</a>.
    </p>

    <p>
        The websites <a href="https://oatware.com" target="_blank">oatware.com</a> and <a href="http://photofind.me" target="_blank">photofind.me</a> (hereinafter "the Site") is owned and operated by <b>Oatware, LLC</b> (<b>"Oatware"</b>, "we," or "us").  The Site provides users the ability to search for photos in games called quests and other services (the "Services").
    </p>

    <p>
        Please read carefully through all sections of this Privacy Policy.  This Privacy Policy may be changed by us from time to time and the governing version will be posted on the Site.  We will notify you if we make material changes to the Privacy Policy or we will provide notice to you of our changes on our website landing page.  Please review this Privacy Policy on a regular basis as your use of the Site will be governed by the then-current Privacy Policy.
    </p>

    <p>
        Oatware recognizes the importance of protecting the privacy of our customers and the users of the Site.  However, some uses of such information are required for us to conduct legitimate business by providing information of interest to our customers and the users of the Site.
    </p>

    <h3>What this Privacy Policy Covers</h3>
    <p>
        Unless otherwise provided herein, this Privacy Policy covers our treatment of Personal Data that we collect through your use of the Site and when you use Services provided on the Site.  This policy does not apply to the practices of companies that we do not own and/or control or to people that we do not employ or manage.
    </p>

    <h3>Information Collection and Use</h3>
    <p>
        Through your use of the Site, we may collect the following "Personal Data" from you if you choose to provide it, including:
    </p>

    <ul>
        <li>Your name and email.</li>
        <li>Pages viewed, browser type, operating system, IP address and device information, your mobile operating system (OS), and other commonly used mobile device identifier if you access the Site on a mobile device ("Analytical Information").</li>
    </ul>

    <p>
        OATWARE IS NOT A HEALTHCARE PROVIDER OR A BUSINESS ASSOCIATE OF ANY HEALTHCARE PROVIDER AND IS NOT SUBJECT TO THE PRIVACY RULE OF THE HEALTH INFORMATION PORTABILITY AND ACCOUNTABILITY ACT OF 1996 (HIPAA).
    </p>

    <h3>How Your Personal Data May Be Used </h3>
    <p>
        We may use Analytical Information to improve the performance or layout of our website; to develop new services and ideas; to target advertisements to you on the websites of others, and to better administer and troubleshoot our systems.
    </p>
    <p>
        We use your Contact information for the following purposes:
        </p><ul>
            <li>Name - Your name is used for identification within the application and personalization of emails or notifications.</li>
            <li>Email - Your email may be used for purposes of password reset assistance and transactional emails such as winner notifications.</li>
        </ul>
    <p></p>

    <p>
        We may also use Contact Information, Third Party Data, User Data and other Personal Data to provide you the Services on the Site; to evaluate and improve the Services; to fulfill your requests for information; and to contact you about Oatware products or services and those of our affiliates, based on the preferences you have indicated.
    </p>

    <p>
        We provide you the opportunity to consent to receive commercial email from us related to the Services or information that we deem you may be interested in when you seek more information from us.  We will give you the opportunity to "opt out" of receiving any unsolicited information from us or to limit the unsolicited information you receive from us to information regarding the Services or information you specifically request or information we determine you may find useful as a result of your use of the Site.
    </p>

    <h3>Information Sharing and Disclosure</h3>
    <p>
        Except as otherwise described in this Privacy Policy, we will not share your Personal Data with any other person or company.  We will share your Personal Data to other companies or people when:
        </p><ul>
            <li>We find that your actions on our website violate the Terms and Conditions of Use, any of our usage guidelines for specific services or any agreement; and</li>
            <li>As required to respond to or initiate subpoenas, court orders, or legal process.</li>
        </ul>
    <p></p>

    <h3>How long do we keep your information?</h3>
    <p>
        We will store your information until you request to have it removed.  We may keep records of transactions with you for a period of up to seven (7) years to comply with the IRS requirements.
    </p>

    <h3>Google Analytics</h3>
    <p>
        We use Google Analytics, a web analytics service provided by Google, Inc.  Google Analytics uses Cookies or other tracking technologies to help us analyze how users interact with the Site and Services, compile reports on their activity, and provide other services related to their activity and usage.  The technologies used by Google may collect information such as your IP address, time of visit, whether you are a returning visitor, and any referring website.  The technologies used by Google Analytics do not gather information that personally identifies you.  The information generated by Google Analytics will be transmitted to and stored by Google and will be subject to Google's <a href="https://policies.google.com/privacy?hl=en" target="_blank">privacy policies</a>.  To learn more about Google's partner services and to learn how to opt-out of tracking of analytics by Google, click <a href="https://policies.google.com/technologies/partner-sites" target="_blank">here</a>.
    </p>

    <h3>Use of Cookies</h3>
    <p>
        Oatware uses "cookies," a small text file transferred to your device, along with similar technologies (e.g., internet tag technologies, web beacons and embedded scripts) to help provide you a better, more personalized user experience.
    </p>

    <p>
        The Options/Settings section of most internet browsers will tell you how to manage the cookies and other technologies that may be transferred to your device, including how to disable such technologies. You can disable our cookies or all cookies through your browser settings. Please be advised that disabling cookies through either method may impact many of the Site's features.
    </p>

    <h3>Instructions for blocking or allowing cookies in common web browsers are provided at the links below:</h3>
    <p>
        </p><ul>
            <li>
                <a href="http://windows.microsoft.com/en-US/windows-vista/Block-or-allow-cookies">Internet Explorer</a>
            </li>
            <li>
                <a href="https://support.mozilla.org/en-US/kb/block-websites-storing-site-preferences?esab=a&amp;s=blocking+cookies&amp;r=2&amp;as=s">Firefox</a>
            </li>
            <li>
                <a href="https://support.google.com/chrome/answer/95647?hl=en">Google Chrome</a>
            </li>
            <li>
                <a href="http://support.apple.com/kb/ph5042">Apple Safari</a>
            </li>
            <li>
                <a href="http://www.aboutcookies.org/default.aspx">Aboutcookies.org</a>
            </li>
        </ul>
    <p></p>

    <p>
        We use the following cookies:
        </p><ul>
            <li>
                <strong>Strictly necessary cookies.</strong> These are cookies that are required for the operation of our websites.
                They include, for example, cookies that enable you to log into secure areas of our websites, use a shopping
                cart or make use of e-billing services.
            </li>
            <li>
                <strong>Analytical/performance cookies.</strong> They allow us to recognize and count the number of visitors and
                to see how visitors move around our websites when they are using it. This helps us to improve the way our
                websites works, for example, by ensuring that users are finding what they are looking for easily.</li>
        </ul>
    <p></p>

    <p>
        We also allow third parties to place cookies on your device through the Services to:
        </p><ul>
            <li>Help us understand and improve how visitors use our websites, including which of our pages are viewed
                most frequently.
            </li>
        </ul>
    <p></p>

    <p>
        The use of third-party cookies is not covered by our Privacy Notice. We do not have access or control over these cookies.
        If you continue to use our websites, we will assume you agree to the use of these cookies.
    </p>

    <h3>
        Do Not Track
    </h3>
    <p>
        Some internet browsers incorporate a "Do Not Track" feature that signals to websites you visit that you do not want to have
        your online activity tracked. Given that there is not a uniform way that browsers communicate the "Do Not Track"
        signal, the Site does not currently interpret, respond to or alter its practices when it receives "Do Not Track"
        signals.
    </p>

    <h3>Security</h3>
    <p>
        We will take reasonable and appropriate measures to protect it from loss, misuse and unauthorized access, disclosure, alteration and destruction of your Personal Data, taking into due account the risks involved in the processing and the nature of the personal data. However, no electronic storage method or data transmission over the Internet can be guaranteed to be 100% secure.
    </p>

    <h3>Commitment to Children's Privacy</h3>
    <p>
        In compliance with the Children's Online Privacy Protection Act, 15 U.S.C., 6501-06 and 16 C.F.R., 312.1-312.12, the
        Site does not collect information from children under 16 years of age, and we do not intentionally collect information
        from persons under <b>sixteen (16)</b> years of age. Use of the Site is limited to users that are <b>sixteen (16)</b> years of
        age and older. By using the Site, you represent that you are <b>sixteen (16)</b> years of age or older.
    </p>

    <h3>Changes to this Privacy Policy</h3>
    <p>
        We reserve the right to change, modify or otherwise update this policy at any time. These changes or updates will be effective
        immediately. We may provide you notice of such changes when they are material, such notice may be given by posting
        on the Site, by electronic or conventional mail or by any other means by which you obtain notice of the changes or
        updates.
    </p>

    <h3>Policies of Other Websites</h3>
    <p>
        The Site may contain links to third-party websites not owned or controlled by Oatware. Oatware is not responsible for the privacy policies of any third-party websites which user may access through a third-party link.  Further, these third-party websites may have privacy policies that differ from this Privacy Policy.  Oatware disclaims all responsibility for the privacy practices of such other third-party websites. You should read the privacy policies of each third-party website you visit to determine what information each third-party website may be collecting about you and how they intend to use such information.
    </p>

    <h3>Notice to Residents of the U.S. (Other than California) and Canada:</h3>
    <p>
        You may access Personal Data held by us about you, as well as information about how we are using your data and you can request that we rectify any inaccurate personal data held by us about you.
    </p>

    <h3>Notice to California Residents</h3>
    <p>
        The California Consumer Privacy Act (CCPA) requires that we provide California residents with a privacy policy that contains a comprehensive description of our online and offline practices regarding the collection, use, disclosure, and sale of personal information and of the rights of California residents regarding their personal information.
    </p>

    <p>
        The CCPA defines "personal information" to mean information that identifies, relates to, describes, is capable of being associated with, or could reasonably be linked, directly or indirectly, with a particular consumer or household.  Personal information does not include information that is publicly available, deidentified or aggregate information.  For purposes of this
        "Notice to California Residents" section we will refer to this information as "Personal Information."
    </p>

    <h3>RIGHT TO KNOW ABOUT PERSONAL INFORMATION COLLECTED, DISCLOSED, OR SOLD</h3>

    <h3>Your Right</h3>
    <p>
        If you are a California resident, you have the right to request that we disclose what Personal Information we have collected about you in the 12-month period preceding your request.  This right includes the right to request any or all of the following:
        </p><ol>
            <li>Specific pieces of Personal Information that we have collected about you;</li>
            <li>Categories of Personal Information we have collected about you;</li>
            <li>Categories of sources from which the Personal Information was collected;</li>
            <li>Categories of Personal Information that we sold (if applicable) or disclosed for a business purpose about you;</li>
            <li>Categories of third parties to whom the Personal Information was sold (if applicable) or disclosed for a business purpose; and</li>
            <li>The business or commercial purpose for collecting or, if applicable, selling Personal Information.</li>
        </ol>
    <p></p>

    <p>
        The CCPA defines "sell" to mean selling, renting, releasing, disclosing, disseminating, making available, transferring, or otherwise communicating orally, in writing, or by electronic or other means, a California resident's Personal Information to another business or a third party for monetary or other valuable consideration.
    </p>

    <h3>How to Submit a Request to Know</h3>
    <p>
        You may submit a request to know at <a href="mailto:privacy@oatware.com">privacy@oatware.com</a>.
    </p>

    <h3>Our Process for Verifying a Request to Know</h3>
    <p>
        If we determine that your request is subject to an exemption, we will notify you of our determination.  If we determine that your request is not subject to an exemption, we will comply with your request upon verification of your identity and, to the extent applicable, the identity of the California resident on whose behalf you are making such request.  Our verification process may differ depending on whether you maintain a password-protected account with us.
If you maintain a password-protected account, we may verify your identity through existing authentication practices available through your account.  Prior to disclosing the requested information, we will ask you to re-authenticate yourself with respect to that account.
If you do not maintain a password-protected account, or if you are an account-holder but we suspect fraudulent or malicious activity with your account, we will verify your identity to a "reasonable degree of certainty" or a "reasonably high degree of certainty" using methods we have determined are reliable for the purpose of verifying identities depending on the sensitivity of the Personal Information and the risk of harm to you by unauthorized access. In addition, you may be required to submit a signed declaration under penalty of perjury stating that you are the individual whose Personal Information is being requested.
    </p>

    <h3>Collection of Personal Information</h3>
    <p>
        The following table presents the categories of Personal Information that we have collected, the categories of sources from which that information was collected, and the categories of third parties with whom we shared that Personal Information for the 12 months preceding the Effective Date of this Privacy Policy.
    </p>

    <h3>RIGHT TO REQUEST DELETION OF PERSONAL INFORMATION</h3>

    <h3>Your Right</h3>
    <p>
        If you are a California resident, you have the right to request that we delete the Personal Information about you that we have collected or maintain.  However, a business is not required to comply with a request to delete if it is necessary for the business to maintain the Personal Information in order to, for example, complete a transaction, detect security incidents, comply with a legal obligation, or otherwise use the Personal Information, internally, in a lawful manner that is compatible with the context in which the consumer provided the information.
    </p>

    <h3>How to Submit a Request to Delete</h3>
    <p>
        You may submit a request to delete by sending an email to <a href="mailto:privacy@oatware.com">privacy@oatware.com</a>.
    </p>

    <p>
        If you submit a request to delete online, you will be asked to confirm separately that you want your Personal Information deleted.
    </p>

    <h3>Our Process for Verifying a Request</h3>
    <p>
        If we determine that your request is subject to an exemption, we will notify you of our determination.  If we determine that your request is not subject to an exemption, we will comply with your request upon verification of your identity and, to the extent applicable, the identity of the California resident on whose behalf you are making such request.  Our verification process may differ depending on whether you maintain a password-protected account with us.
If you maintain a password-protected account, we may verify your identity through existing authentication practices available through your account.  Prior to deleting the Personal Information, we will ask you to re-authenticate yourself with respect to that account.
If you do not maintain a password-protected account, or if you are an account-holder but we suspect fraudulent or malicious activity with your account, we will verify your identity either to a "reasonable degree of certainty" or a "reasonably high degree of certainty" depending on the sensitivity of the Personal Information and the risk of harm to you by unauthorized deletion.
    </p>

    <p>
        If we are unable to verify your identity to the applicable standard, we will treat your request to delete as a request to opt-out of the sale of the personal information that you provided as part of processing the request to delete.  See the following section for a description of the right to opt-out of the sale of personal information.
    </p>

    <h3>NOTICE OF RIGHT TO OPT-OUT OF SALE OF PERSONAL INFORMATION</h3>

    <h3>Your Right</h3>
    <p>
        If you are a California resident, you have the right to direct a business that sells (or may in the future sell) your Personal Information to stop selling your Personal Information and to refrain from doing so in the future.
    </p>

    <p>
        The CCPA defines "sell" to mean selling, renting, releasing, disclosing, disseminating, making available, transferring, or otherwise communicating orally, in writing, or by electronic or other means, a California resident's Personal Information to another business or a third party for monetary or other valuable consideration.
    </p>

    <h3>How to Submit a Request to Opt-Out</h3>
    <p>
        You may submit a request to delete by sending an email to <a href="mailto:privacy@oatware.com">privacy@oatware.com</a>.
    </p>

    <h3>How We Process a Request to Opt-Out</h3>
    <p>
        We will act upon your request to opt-out within 15 days from the date that you submit the request.  The CCPA does not require that we verify the identity of individuals who submit requests to opt-out of sales.  However, we may deny the request if we have a good-faith, reasonable, and documented belief that the request is fraudulent.  If we deny the request on this basis, we will notify the requesting party and provide an explanation why we believe the request is fraudulent.
    </p>

    <h3>RIGHT TO NON-DISCRIMINATION FOR THE EXERCISE OF A CALIFORNIA RESIDENT'S PRIVACY RIGHTS</h3>
    <p>
        We will not discriminate against California residents if they exercise any of the rights provided in the CCPA as described in this section "Notice to California Residents."  As such, we will not deny goods or services to that California resident; charge different prices or rates for goods or services, including through the use of discounts or other benefits or imposing penalties; provide a different level or quality of goods or services to the California resident; or suggest that the California resident will receive a different price or rate for goods or services or a different level or quality of goods or services.  However, we are permitted to charge a California resident a different price or rate, or provide a different level or quality of goods or services, if that difference is reasonably related to the value provided to us by the individual's data.
    </p>

    <h3>AUTHORIZED AGENTS</h3>
    <p>
        California residents may use an authorized agent to submit a request to know, delete, or opt-out of sales on your behalf.
    </p>

    <p>
        If you use an authorized agent to submit a request to know or request to delete, we may require that (1) the authorized agent provide proof of your written permission and (2) you verify your identity directly with us.  These requirements do not apply if you have provided the authorized agent with a power of attorney pursuant to California Probate Code sections 4000 to 4465.
    </p>

    <p>
        If you use an authorized agent to submit a request to opt-out of sales, you will need to provide that authorized agent with written permission to do so and submit written proof to us that the agent has been authorized to act on your behalf.
    </p>

    <h3>SHINE THE LIGHT LAW</h3>
    <p>
        We do not disclose personal information obtained through our Site or Services to third-parties for their direct marketing purposes.  Accordingly, we have no obligations under California Civil Code 1798.83.
    </p>

    <h3>Accessibility</h3>
    <p>
        We are committed to ensuring this Privacy Policy is accessible to individuals with disabilities.  If you wish to access this Privacy Policy in an alternative format, please contact us as described below.
    </p>

    <h3>Notice to Residents of Europe and the United Kingdom</h3>
    <p>
        Oatware recognizes the importance of protecting the privacy of our customers and the users of the Site.  As such, we will always ensure that we have a lawful basis for processing your Personal Data.
    </p>

    <h3>OUR LEGAL BASIS FOR COLLECTING, STORING AND PROCESSING YOUR PERSONAL DATA</h3>
    <p>
        If you have subscribed to use the Site in order to obtain the Services, we collect, store and process your Personal Data out of a contractual necessity in order to provide you the Services.
    </p>

    <p>
        In certain cases, we may store and process your Personal Data in order to comply with Oatware' legal obligations for record keeping and other compliance with laws or regulatory compliance.
    </p>

    <p>
        The Personal Data we hold about you is processed by us on the basis of our legitimate interests in providing the Services.  Based upon the type and amount of data we collect, we have made a determination that our legitimate interest in using such Personal Data is not outweighed by any detriment to you.
    </p>

    <div class="alert alert-info">
        <h3>Questions</h3>
        If you have any questions or comments about these Terms of Use or this Site, please contact us by email at
        <a href="mailto:privacy@oatware.com">privacy@oatware.com</a>. You also may write to us at:
        <br>
        <br> Oatware
        <br> Attn: Privacy
        <br> 361 Upper Road
        <br> Sheridan, WY 82801

    </div>

</div> <!-- ./card-body -->
</div> <!-- ./card -->