<section class="content-header">
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col-md-4">
					<div class="text-center text-md-left">
                        {if !empty($quest.userData.companyLogo)}
						<img id="logoImg" class="img-fluid" style="max-height: 100px;"
						src="{$appPath}/data{$quest.userData.companyLogo}">
                        {/if}
					</div>
				</div>
				<div class="col-md-4">
                    <br />
					<h3 class="card-title font-weight-bolder text-center text-md-left">{$quest.name}</h3>
				</div>
				<div class="col-md-4">
					<div class="text-center text-md-right">
						<ul class="list-unstyled">
                            {if !empty($quest.userData.website)}
							<li><a href="{$quest.userData.website}" target="_blank">{$quest.userData.website}</a></li>
                            {/if}
                            {if !empty($quest.userData.companyPhone)}
							<li><a href="tel:+{$quest.userData.companyPhone}" target="_blank">{$quest.userData.companyPhone}</a></li>
                            {/if}
                            {if !empty($quest.userData.address)}
							<li>{$quest.userData.address}<br />{$quest.userData.city}, {$quest.userData.state}</li>
                            {/if}
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="card-body">

            {include file='messages.html'}

            {if $quest.status == 'closed'}
                <div class="alert alert-warning text-center">
                    <strong>This quest is no longer active.</strong>
                </div>
                {if !empty($quest.otherQuests)}
                    <h3>Other quests by {$quest.userData.companyName}</h3>
                    <br />
                    <div class="row">
                    {foreach $quest.otherQuests as $quest}
                        {if !empty($quest.photos.questphoto)}
                        <div class="col-sm-6 col-md-4" style="margin-bottom: 10px;">
                            <div class="card quest" data-id="{$quest.Id}" style="cursor: pointer;">
                                <div class="card-header">
                                    {$quest.name|truncate:40:"...":false}
                                </div>
                                <div class="card-body">
                                    <img class="img-fluid float-left" style="width: 100%; padding-bottom: 10px;" src="{$appPath}/data{$quest.photos.questphoto.0.fileLocationCrop}">
                                    <p class="text-center" style="margin-bottom: 0;">
                                    {if !empty($quest.prizeDesc)}
                                    <strong>Prize:</strong> {$quest.prizeDesc|truncate:20:"...":true}
                                    {else}
                                    &nbsp;
                                    {/if}
                                    </p>
                                </div>
                                {if !empty($quest.userData.companyLogo)}
                                <div class="card-footer">
                                    <button class="btn btn-sm btn-{if $quest.status == 'preview'}danger{else}info{/if}">Play Quest {if $quest.status == 'preview'}(PREVIEW){/if}</button>
                                    <img src="{$appPath}/data{$quest.userData.companyLogo}" style="height: 30px;" class="float-right">
                                </div>
                                {/if}
                            </div>
                        </div>
                        {/if}
                    {/foreach}
                    </div>
                    <p>
                    <br />
                    To view all quests, <a href="{$appPath}/">click here</a>.
                    </p>
                {else}
                <p>
                <a href="{$appPath}/" class="btn btn-primary btn-block">Find other quests.</a>
                </p>
                {/if}
            {else}
                <div class="row">
                    <div class="col-md-4 text-center">
                        <h2>Prize:</h2>
                        {if empty($quest.photos.prize.fileLocation)}
                        <div class="alert alert-info">No prize photo.  See description for information about the prize.</div>
                        {else}
                        <img class="w-75" src="{$appPath}/data{$quest.photos.prize.fileLocation}">
                        {/if}
                    </div>
                    <div class="col-md-8">
                        <p class="card-text">{$quest.description}</p>
                        <br />
                        {*
                        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fphotofind.me%2Fapp%2Fquest%2F{$quest.Id}&layout=button&size=large&width=78&height=28&appId" width="78" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                        *}
                        <a class="btn btn-primary" href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fphotofind.me%2Fapp%2Fquest%2F{$quest.Id}" target="_blank" rel="noopener" aria-label="Share on Facebook"><i class="fa fa-facebook"></i> Share</a>

                        {*
                        <a class="btn btn-primary" href="https://twitter.com/intent/tweet/?text={$quest.name|escape:'url'}&amp;url=https%3A%2F%2Fphotofind.me%2Fapp%2Fquest%2F{$quest.Id}" target="_blank" rel="noopener" aria-label="Share on Twitter"><i class="fa fa-twitter"></i> Share</a>
                        *}
                        
                    </div>
                </div>
            {/if}

		</div>
	</div>
</section>


{if $quest.status != 'closed'}
<section class="content mt-3">

<div class="card" style="margin-bottom: 15px;">
    <div class="card-body bg-info rounded text-white text-center">
        Find this location, take a photo and upload your guess.
    </div>
</div>

    <div class="row">
    {foreach $quest.photos.questphoto as $questPhoto}
        <div class="col-md-6 text-center">
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <label>Photo {$questPhoto@index+1}</label><br />
                    <img class="w-50" src="{$appPath}/data{$questPhoto.fileLocationCrop}">
                    <br /><br />
                    <button class="btn btn-primary btn-block guessButton" data-photoid="{$questPhoto.Id}">Upload Guess</button>
                </div> <!-- ./card-body -->
            </div> <!-- ./card -->
        </div>
    {/foreach}
    </div> <!-- ./row -->

    <!-- Guess Modal -->
    <div class="modal fade" id="guessScreen" tabindex="-1" role="dialog" aria-labelledby="photo form" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="guess">

                    <form role="form" action="{$appPath}/guess" method="POST" enctype="multipart/form-data" id="guessForm">
                        <input type="hidden" name="guess[questId]" value="{$quest.Id}" />
                        <input type="hidden" name="guess[photoId]" value="" id="questPhotoId"/>
                        <div class="alert alert-primary fade show" role="alert">
                            Please fill out this short form to submit your guess. If you do not provide valid information, you will not receive your prize!
                        </div>
                        <div class="form-group">
                            <label for="inputName">Name</label>
                            <input type="text" name="guess[name]" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Enter name" required>
                            <small class="form-text text-muted">Your real name will remain confidential.</small>
                        </div>
                        <div class="form-group">
                            <label for="inputUsername">Display Name</label>
                            <input type="text" name="guess[username]" class="form-control" id="inputUsername" aria-describedby="usernameHelp" placeholder="Enter Username" required>
                            <small class="form-text text-muted">This will be publicly displayed if you win.</small>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Email address</label>
                            <input type="email" name="guess[email]" class="form-control" id="inputEmail" placeholder="Enter email" required>
                            <small class="form-text text-muted">Your email will remain confidential.</small>
                        </div>
                        <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="guessPhoto" id="guessPhoto" required>
                                    <label class="custom-file-label" id="photoSelected" for="customFile">Photo of location</label>
                                </div>
                                <small class="form-text text-muted">Upload .jpg, .jpeg, .png, .gif, .webp</small>
                                <div id="guessPhotoContainer" style="display: none;">
                                    <p>Preview</p>
                                    <img src="" id="guessPhotoPreview" class="img-fluid">
                                </div>
                        </div>

                        <button type="submit" class="btn btn-primary float-right" id="submit-btn">Submit</button>
                        <button type="button" class="btn btn-secondary cancelButton float-right mr-2">Cancel</button>

                        <br clear="all">
                        
                        <div class="text-muted" style="padding-top: 10px;">
                        <small>
                        Personal Information you provide will be accessible to the Creator of this Quest. By clicking Submit you are opting in to the sharing of
                        this information.
                        </small>
                        </div>
                    </form>

                   </div>
                </div>
            </div>
        </div>
    </div>

	<!-- <footer class="w-25 mx-auto"
		style="position: sticky; bottom: 0; padding-bottom: 10px;">
		<a href="{$appPath}"
			class="bg-white btn btn-secondary text-center text-dark">Home</a>
	</footer>
	-->
</section>
{/if}

<script>
var heicPhotoPresent = false;
$(document).ready(function() {
    $('#guessPhoto').change(function(e) {
        var reader = new FileReader();
        reader.onload = function() {
            $('#guessPhotoPreview').attr('src',reader.result);
            $('#guessPhotoContainer').show();
        }
        $('#photoSelected').html(e.target.files[0].name);
        if (e.target.files[0].name.search(/heic/i) > 0 || e.target.files[0].name.search(/heif/i) > 0) {
            $('#guessPhotoContainer').hide();
            heicPhotoPresent = true;
            return;
        }
        heicPhotoPresent = false;
        reader.readAsDataURL(e.target.files[0]);
    });

    $('.guessButton').click(function(e) {
        e.preventDefault();
        $('#questPhotoId').val($(this).data('photoid'));
        $('#guessScreen').modal('show');
    });
    
    $('.cancelButton').click(function(e) {
        e.preventDefault();
        $('#questPhotoId').val('');
        $('#guessScreen').modal('hide')
    });
    
    $('#guessForm').submit(function(e) { 
        if (heicPhotoPresent) {
            e.preventDefault();
            alert('Apple HEIC photos not supported at this time.');
            return;
        }
    });
});
</script>
