<section class="content">
	<img class="img-fluid mb-2" src="{$appPath}/public/images/logo.jpg">
	<div class="box bg-white">

		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item" role="presentation"><a
				class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
				role="tab" aria-controls="home" aria-selected="true">Login</a></li>
			<li class="nav-item" role="presentation"><a class="nav-link"
				id="createAccLink" data-toggle="tab" href="#createAccPanel" role="tab"
				aria-controls="profile" aria-selected="false">Create Account</a></li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="home" role="tabpanel"
				aria-labelledby="home-tab">
				<form class="bg-white p-3">
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label> <input
							type="email" class="form-control" id="exampleInputEmail1"
							aria-describedby="emailHelp"> <small id="emailHelp"
							class="form-text text-muted">We'll never share your email
							with anyone else.</small>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label> <input
							type="password" class="form-control" id="exampleInputPassword1">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
			<div class="tab-pane fade" id="createAccPanel" role="tabpanel"
				aria-labelledby="profile-tab">...</div>
		</div>
	</div>
</section>