<section class="content">

    <div class="card bg-info text-white">
		<div class="card-body bg-info rounded">
			<h1 class="text-white">Past Winners</h1>
			<p class="lead text-white">Below is a collection of previous quests and the winner(s).</p>
            <p>If Quests appear more than once, it is because multiple winners have been selected.</p>
		</div>
	</div>

    <br />

    {if !empty($winners)}
	<div class="row">
        {foreach $winners as $winner}
		<div class="col-md-4">
			<!-- card -->
			<div class="card" style="margin-bottom: 10px;">
				<div id="winner{$winner.Id}" class="carousel slide" data-interval="false">
					<ol class="carousel-indicators">
                        {$photoCount = 0}
                        {foreach $winner.questInfo.photos.questphoto as $photo}
						<li data-target="#winner{$winner.Id}" data-slide-to="{$photoCount}" {if $photoCount == 0}class="active"{/if}></li>
                        {$photoCount = $photoCount + 1}
						<li data-target="#winner{$winner.Id}" data-slide-to="{$photoCount}"></li>
                        {$photoCount = $photoCount + 1}
                        {/foreach}
					</ol>
					<div class="carousel-inner rounded-top">
                        {$photoCount = 0}
                        {foreach $winner.questInfo.photos.questphoto as $photo}
						<div class="carousel-item  {if $photoCount == 0}active{/if} bg-dark text-center">
							<img src="{$appPath}/data{$photo.fileLocationCrop}" class="img-fluid">
						</div>
                        {$photoCount = $photoCount + 1}
						<div class="carousel-item bg-dark">
							<img src="{$appPath}/data{$photo.fileLocation}" class="img-fluid">
						</div>
                        {$photoCount = $photoCount + 1}
                        {/foreach}
					</div>
					<a class="carousel-control-prev" href="#winner{$winner.Id}"
						role="button" data-slide="prev"> <span
						class="carousel-control-prev-icon" aria-hidden="true"></span> <span
						class="sr-only">Previous</span>
					</a> <a class="carousel-control-next" href="#winner{$winner.Id}"
						role="button" data-slide="next"> <span
						class="carousel-control-next-icon" aria-hidden="true"></span> <span
						class="sr-only">Next</span>
					</a>
				</div>

				<div class="card-header">
					<img src="{$appPath}/data{$winner.userInfo.companyLogo}" alt="logo" style="max-width: 40px;">
					<h5 class="card-title d-inline">{$winner.questInfo.name}</h5>
				</div>
				<div class="card-body">	
                    {if !empty($prizeClaimed)}
                    <p class="text-center">
						<strong>Solved by: </strong>{$winner.displayName}
                    </p>
                    <p class="text-center">
						<strong>Description:</strong><br />{$winner.questInfo.description}
                    </p>
                    {else}
                    <p class="text-center">
                    Winner is being contacted.
                    </p>
                    {/if}
				</div>
			</div>
		</div>
        {/foreach}
        {else}
        <div class="card">
            <div class="card-body">
            There are no completed quests at this time.  Please check back later.
            </div>
        </div>
        {/if}
	</div>
</section>